[2019-08-20 12:06] johnjaylward commented on #480
Also, on a side note for the reflection, we specifically test that the methods we are reflecting are public. From the documentation link you sent, the "open" flag should not have caused an issue since that's supposed to only affect private members.

[2019-08-20 15:43] GedMarc commented on #480
If the package is not exposed in any way (either through exports or through open),
Whether public or private there will be no access to any reflection.

Exporting a package will grant access to the Public API within that package, inclusive of public getters and setters, however no field access will be allowed. This also incurs a minor performance penalty.

Opening a package places the package into

[2019-08-20 15:44] GedMarc commented on #451
Update please -

Why is this not pulled in, Why is there no feedback

[2019-08-20 15:51] johnjaylward commented on #451
@stleary I've commented on the linked PR, I'm no subject expert on modules, but the changes look like they shouldn't cause any issues with backwards compatibility to me.

[2019-08-20 15:54] johnjaylward commented on #451
@stleary If you could also provide guidance on if we should do a new package release or not to get the named module support in (as opposed to the auto module naming we have currently), that would be great. I think a new release would be the best course myself just so we can get community feedback if there are any issues.

[2019-08-20 15:56] johnjaylward commented on #480
@GedMarc from your experience, would doing a new release with your package changes fix issues like this one?

[2019-08-20 16:03] stleary commented on #451
@johnjaylward, agreed, I also commented, and thanks for doing the analysis.

[2019-08-20 16:41] GedMarc commented on #480
@johnjaylward Yes it will fix everything, No there is a decision that needs to be decided on whether to place the module-info.class file in the JDK9 location of classpath root, or to move it into META-INF/versions/9

(https://www.javaworld.com/article/3184029/java-9s-other-new-enhancements-part-4-multi-release-jar-files.html)

Placing it in the root causes class indexes to do strange things, but w

[2019-08-20 16:46] GedMarc commented on #480
@KrishnaST "The java 9+ module system requires the packages to be declared as 'open' for reflective access"

Try
[code]
in your module-info, they do mean that you need to open your package, in case it's a concern

WRT the java.base not being accessible, there is currently no way to "extend" a module class and any exposures or reflections to the java.base must be specified in the command line. This

[2019-09-17 01:15] wdblair opened #484 "Infinite Loop in org.json.JSONML.toJSONObject"
The following input causes the `org.json.JSONML.toJSONObject` method to run in an infinite loop.

    JSONML.toJSONObject("??*^M??|?CglR^F??`??>?w??PIlr^E??D^X^]?$?-^R?o??O?*??{OD?^FY??`2a????NM?b^Tq?:O?>S$^K?J?^FB.gUK?m^H??zE??^??!v]?^A???^[^A??^U?c??????h???s???g^Z???`?q^Dbi??:^QZl?)?}1^??k?0??:$V?$?Ovs(}J??^V????2;^QgQ?^_^A?^D?^U?Tg?K?`?h%c?hmGA?<!C*^P^Y?^X9?~?t?)??,z^XA???S}?Q??.q?j????]");

I

[2019-09-17 13:54] johnjaylward commented on #484
@stleary using the first sample and stepping through with the debugger, I see the issue at line 111
https://github.com/stleary/JSON-java/blob/2a6af29235ffe7eeff157bc280c11b664ad54a5e/JSONML.java#L111

The do-while loop never exits as the `JSONTokener.nextMeta()` function continues to return the same character over and over and never advances the Tokener index.

[2019-09-17 14:07] stleary commented on #484
@wdblair Thank you for raising this issue. @johnjaylward Thanks for identifying the root cause. There may be other potentially infinite loops in this and other parsing methods. I think these problems need to be fixed; input data should never be able to break the code.

[2019-09-17 15:18] johnjaylward commented on #484
It looks like the correction in #485 solves the issue for both data inputs provided in the original description. I did not use the base64 encoded string, as I don't like encoded items if they don't have to be (base64 encoding was not what was breaking this). I unencoded it first and used the raw value as the input.

[2019-09-17 15:56] wdblair commented on #484
Thanks @stleary and @johnjaylward! I'm glad you were able to reproduce the issue. On my side I can check out the new branch and see if I can find any other problematic inputs.

[2019-09-23 23:00] stleary commented on #484
Closed due to fix has been merged.

[2019-09-23 23:00] #484 closed

[2019-10-08 13:39] #477 closed

[2019-10-08 13:39] #479 closed

[2019-10-13 01:09] baldodavi opened #487 "Conversion incongruity"
Hi, from this xml
[code]
and
[code]
have really different results:
[code]
this is the result:
[code]

In first case <misure> tag bacome an array of misure, in second case become a misure object.
Transforming json in a this there's an incongruity: first time POJO object need a
```List<Misure> ```
in second time POJO object need a
```Misure```.

Is that can be considered a bug?
Is there a way to sol

[2019-10-15 14:00] stleary commented on #487
@baldodavi Sorry for not getting back to you sooner. There is not a 1:1 transform between XML and JSON. Please see the Wiki XML section: https://github.com/stleary/JSON-java/wiki/FAQ#status-of-the-xml-code

I think what you are seeing is not a bug. By design, multiple consecutive XML elements are converted into a JSONArray, but single elements become JSONObjects.

You can fork the project and chan

[2019-10-22 12:30] seet61 opened #490 "java.lang.NoSuchMethodError: org.json.JSONObject.put(Ljava/lang/String;Ljava/util/Map;)Lorg/json/JSONObject;"
I do some changes at my project after 2 month and one of my test cases finished with exception.

At logs I saw:
`java.lang.NoSuchMethodError: org.json.JSONObject.put(Ljava/lang/String;Ljava/util/Map;)Lorg/json/JSONObject;
	at ru.tele2.esb.service.FioriTools.sendHttp(FioriTools.java:353)
	at ru.tele2.esb.service.FioriTools.checkSession(FioriTools.java:123)
	at ru.tele2.esb.service.FioriToolsTest.ch

[2019-10-22 13:13] seet61 commented on #490
At runtime everything work correctly.

[2019-10-22 15:44] ggavriilidis opened #491 "Casting list of JSONObject to JSONObject throws ClassCastException"
When calling the toList() method of a JSONArray which contains JSONObject the returned list contains HashMap elements.
The documentation mentions:

However, the elements are not converted to List<JSONObject>.
Casting to JSONObject throws an exception if the toList() method is used.
Below is an example of the problem occurring:

### Steps to reproduce

Run the below unit test:

[code]

### Expected

[2019-10-22 18:26] johnjaylward commented on #490
sounds like a classpath issue in your test environment. check that all your transitive dependencies are correct

[2019-10-22 18:48] johnjaylward commented on #491
The `toList` method does not convert to a list of `JSONObject`. It converts both `JSONArray` and `JSONObject` to standard java types `List` and `Map`. For a general use case, you would use something like this:

[code]

For your specific example, if your `List` would not be of JSONObject, but instead `Map` objects:
[code]

However, If you really want `JSONObject`s, I would use this method:
[code]

[2019-10-22 19:09] seet61 commented on #490
It is a spring app. I don't think that classpath incorrect for test, but correct for runtime.

[2019-10-22 19:11] seet61 commented on #490
All dependencies gets from pom, and classpath builds dyamicly by spring.

[2019-10-23 06:19] GedMarc commented on #490
Delete the org.json packages directly from the maven repository, run a test in offline mode. See which library it's moaning about and make sure it's the right one.
If it doesn't moan you aren't using this one, but rather,
Spring also has their own version of this library and is referencing that.

[2019-10-23 06:55] seet61 commented on #490
Thanks.
When I changed  spring-boot-starter-test dependency, all tests finished successfully.
`<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
            <exclusions>
                <exclusion>
                    <groupId>org.json</groupId>
                    <artifactId>json</art

[2019-10-29 21:28] ggavriilidis commented on #491
Thanks for your response @johnjaylward .

Is it expected that the JSONArray iterator and spliterator methods behave differently than the toList method?

If this is expected maybe the documentation could add some more clarification.
Currently it mentions:

[code]

Could it be saying instead:

[code]

This clarifies what the output of the method is.

[2019-10-30 03:25] stleary commented on #491
Fixed in #492

[2019-10-30 03:25] #491 closed

[2019-11-02 15:35] spaffrath opened #493 "Use var args in the JSONObject constructor instead of String arrays"
This change allows the constructor to be called with the less verbose
new JSONObject(someVal, "a", "b", "c")
instead of
new JSONObject(someVal, new String[]{"a", "b", "c"})
but does not affect backwards comptibility

[2019-11-04 01:15] stleary commented on #493
Please add comments to #494

[2019-11-04 01:15] #493 closed

[2019-11-07 00:07] oconnelc commented on #63
Is there a reason this issue seems to be avoided? With Java Streams (which has been around since Java 1.8) equals and hashcode are useful for stream methods such as distinct.  If there isn't a reason why this shouldn't be done, would you take a pull request?

[2019-11-07 02:29] stleary commented on #63
Hi @oconnelc, equals and hashcode would probably not be accepted at this time due to introducing a behavior change with no corresponding bug. Douglas Crockford later implemented [similar()](https://github.com/stleary/JSON-java/commit/7ff3fa4e40cfd5b44570297080810aed5cce6086#diff-6c8bf136596bcd17e616c3f3fb5654a4) for this lib. My guess is that similar() provides some of the benefits of equals() wit

[2019-11-07 02:59] oconnelc commented on #63
I figured it wouldn't be a small change.

One thing the similar does not provide is the ability to have JSONObjects
in any of Java's Colllections type as almost all of them use equals,
hashcode or both. As a result the only way to reliably use these Java types
is to create a wrapper object to contain the JSONObject or convert the
JSONObject to String and back.

For my use case I was able to use JS

[2019-11-07 03:01] oconnelc commented on #63
@stleary Of course after I hit send I read the other ticket. I'm sorry I didn't see it sooner. I will take down my post as it is unconstructive with #297

[2019-11-18 05:16] blue-dog opened #496 "Long number length less then [17] will convert to scientific notation."
Test-case:

[code]
-------------------
{"a":1.234567891E7}

But from [10] to [17] did not convert to scientific notation in FireFox OR Chrome
Or IE.
[17] 12345678912345.91===>12345678912345.91
[16] 1234567891234.91===>1234567891234.91
[15] 123456789123.91===>123456789123.91
[14] 12345678912.91===>12345678912.91
[13] 1234567891.91===>1234567891.91
[12] 123456789.91===>123456789.91
[11] 12345678.91=

[2019-11-18 13:43] johnjaylward commented on #496
I don't see why this is a problem. Scientific notation is valid JSON.

[2019-11-21 22:32] slisaasquatch opened #497 "Large numbers parsed as strings"
Here's the sample code:
[code]

[2019-11-22 05:29] stleary commented on #497
@slisaasquatch Thanks for bringing up this issue; interesting that numbers are handled differently depending on whether chars like '.' or 'e' are present. Do you want to present a case that the code is not in compliance with [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) and/or [RFC8259](https://tools.ietf.org/html/rfc8259)?  Otherwise, I believe this behavio

[2019-11-22 14:43] johnjaylward commented on #497
I was pretty sure we changed this behavior a few years ago to use BigInteger instead for these cases. Let me try with a recent build

[2019-11-22 14:55] johnjaylward commented on #497
Ah, we never made the full switch. I left notes in the code on where it would be handled though:

https://github.com/stleary/JSON-java/blob/master/JSONObject.java#L2173-L2218

[2019-11-22 16:12] stleary commented on #497
I think that code review is still open, if you mean #453, due to changes to existing behavior.

[2019-11-22 16:42] slisaasquatch commented on #497
Thanks for your quick response.

I checked the specs for numbers [here](https://tools.ietf.org/html/rfc8259#section-6), and all it says about really large numbers is that implementations may approximate the numbers to fit double precision floating points, and says nothing about turning large number into strings. And in this case, the number actually does fit into a double precision floating point.

[2019-11-22 17:04] johnjaylward commented on #497
@stleary, yes. that PR would fix this and open up the parser to have more exact representation of what was in the original JSON text.

[2019-11-22 17:05] stleary commented on #497
My best guess is that this implementation only guarantees integer interoperability to 2 ** 53 per the spec via Java Long type, and Double was only used to support decimal and scientific notation.  I think if you have access to the software that generates very large numbers, it is probably better to just serialize them as strings.

[2019-11-22 17:08] stleary commented on #497
@johnjaylward Agreed, exact representation is preferred. I wanted to keep the PR open to see if there is a way to implement it as an option, to ensure existing applications don't break.

[2019-11-22 17:13] johnjaylward commented on #497
@stleary, gotcha. If I have time, I'll see if I can come up with a "parser config" type object that could be used to configure how items are parsed.

@slisaasquatch as a work around for your specific example, you can represent the number with a decimal point, or use scientific notation to force the parser to try to use a double as the backing type instead of an integer.

[code]

OR:

[code]

[2019-12-02 10:39] oxnz opened #498 "[Feature Proposal] XML.toString support tag name uppercase or customization"
Currently, `XML.toString` will use the key as tagName by default.
but according to XML definition, tag names must be all uppercase.
So I wondering is there any plan to change current situation here?
either change current implementation (which is aggressive)
or add a tagName transform func or define some built-in tag name style?

[2019-12-02 19:59] johnjaylward commented on #498
XML does not require tag names to be uppercase. I'm not sure where you heard that requirement. They are case-sensitive though.

[2019-12-03 02:15] stleary commented on #498
Thanks for the suggestion, but no plans at the present time to support all uppercase XML tags.

[2019-12-03 02:15] #498 closed

[2019-12-09 12:46] javadev commented on #497
[code]

The expected value is `class java.math.BigInteger`.

[2019-12-09 16:07] johnjaylward commented on #497
@javadev yes. This has been a known limitation of the library for quite some time. When a number can not be parsed as an integer or a double, it stores it as a string internally. In our case, we only parse using a `double` if the value "looks" like a double (contains a `.` or `e`), otherwise we parse it as a `long`.

In cases where the caller requires a number, this can be worked around by using t

[2019-12-23 11:52] Alanscut opened #500 "json only contains value should be supported"
Hi @stleary ,

JSON RFC4627 requires the json text should be `object` or `array` in [section 2](https://tools.ietf.org/html/rfc4627#section-2), after RFC 7158, it changed to `JSON-text = ws value ws`, and added some simple json example in [section 13](https://tools.ietf.org/html/rfc7158#section-13):
[code]
json parser [RFC 8259 seciton 9](https://tools.ietf.org/html/rfc8259#section-9) requires tha

[2019-12-23 13:59] stleary commented on #500
@Alanscut No objections if you want to add this feature. Unit tests will be needed. The [wiki pages](https://github.com/stleary/JSON-java/wiki) have more information about adding code to the project. Let me know if you have any questions.

[2019-12-23 14:43] johnjaylward commented on #500
@Alanscut @stleary . this is already supported through the https://github.com/stleary/JSON-java/blob/master/JSONTokener.java

See https://github.com/stleary/JSON-java/issues/238#issuecomment-225102417

[2019-12-23 14:51] stleary commented on #500
@johnjaylward, thanks I had forgotten about this. Closing the issue based on the reason cited above.

[2019-12-23 14:57] johnjaylward commented on #500
@stleary it may make sense to add a note to the README or to make a Wiki page with samples.

[2019-12-23 15:03] stleary commented on #500
Sure, does anyone want to propose some text?

[2019-12-24 08:12] ogronome opened #501 "Proposal for adding method getAsList(JSONObject o, final String key)"
Hello! Great lib, thank you very much!
But for me, one useful method is absent.

It is useful for situations, where nested JSON can be a either JSONObject or JSONArray, so you should add everywhere these boring checks.

Should I add a pull request?

     public List<JSONObject> getAsList(JSONObject o, final String key) {

        List<JSONObject> result = new ArrayList<>();

        if (o.has(key)

[2019-12-24 20:36] stleary commented on #501
@ogronome, thanks should go to Douglas Crockford, for this app, and for JSON itself :)
Regarding your question, please see JSONArray.toList(), which I think already provides the functionality you want.

[2019-12-25 03:47] Alanscut commented on #500
Thanks @johnjaylward and @stleary , I have sumbitted a PR to update README, does anyone besides collaborator have permission to modify the wiki?

[2019-12-25 06:59] ogronome commented on #501
Thanks, but as I see, JSONArray.toList() just converts existing JSONArray to List.
My case is: often I get JSONs (by using XML.toJSONObject() ) where some key can be either JSONObject or JSONArray. And you need a lot of checks in code to parse this.

Example JSON:
If there is one coowner, I get JSONObject, if there are several, I get JSONArray.
{"Response":{"Coowners":{"Coowner":{"ID":266425}}}}

[2019-12-26 13:52] javadev opened #503 "Old branches may be removed"
![image](https://user-images.githubusercontent.com/348496/71478348-c4c6f500-27f7-11ea-8584-7487fb773b68.png)

[2019-12-26 16:34] shashi2k6 opened #504 "Json to xml - Attribute issue."
Hi Team,

The below sample works fine :
`<student><name>Neeraj Mishra</name><age>22</age></student>`
`{"student":{"age":22,"name":"Neeraj Mishra"}}`

The below item is not working - attributes is shown as separate tag here :

` {"student":{"age":22,"name":{"content":"Neeraj Mishra","type":"employee"}}}`
`<student><name>Neeraj Mishra<type>employee</type></name><age>22</age></student>`

Expected out

[2019-12-27 02:53] stleary commented on #500
The wiki pages will be maintained in this repo:
https://github.com/stleary/JSON-Java-Wiki-Pages
Feel free to submit a pull request there.

[2019-12-27 03:01] stleary commented on #496
Closed due to lack of activity and because a valid issue was not identified. I don't think the specs require a particular numeric representation. If you disagree, or if you think the implemented behavior should be documented, feel free to post here with your thoughts.

[2019-12-27 03:01] #496 closed

[2019-12-27 03:03] stleary commented on #500
Closed due to readme change accepted, and wiki page repo set up.

[2019-12-27 03:03] #500 closed

[2019-12-27 03:05] stleary commented on #503
@javadev Thanks for the suggestion.  For now I am keeping the branches alive, probably for no good reason.

[2019-12-27 03:05] #503 closed

[2019-12-27 17:42] stleary commented on #504
@shashi2k6 thanks for raising this issue. JSON-XML conversion is necessarily imperfect. From your example, I cannot be sure if the problem is converting to XML or from XML. For now I will assume it is **from** JSON **to** XML. You may find that the API in JSONML.java works better for you.

I think this project would benefit from clear documentation about how XML is handled. If anyone wants to work

[2019-12-27 17:58] stleary commented on #501
@ogronome a couple of questions...
* What should be returned if `Object t` is a String or some other simple type?
* What should be returned if the key does not exist in the JSONObject?
* How should the user handle the case where the JSON document contains a deeply nested structure of objects and arrays?
* Is this function only intended to be used when converting XML to JSON?

It might be helpful t

[2019-12-28 01:58] Alanscut opened #505 "multi-level nested JSONObject key will trigger OutOfMemoryError"
**Reproduce Step**
[code]
**Output**
[code]
**Cause**
The main cause of this problem is: JSON-Java allows the key of JSON text to be JSONObject(Standard JSON key should be String, but JSON parser allows non-JSON forms).

During the deserialization process, the `quote()` method is called to wrap the key value with quotation marks. When the key is a nested JSONObject(`{{{{{}:1}:2}:3}:4}`), the `\` a

[2019-12-28 14:52] yeliang99 opened #506 "JSONObject should be a new type of orderJSONObject"
when we use json to csv, the order need the same as what we put it
see it .https://stackoverflow.com/questions/4515676/keep-the-order-of-the-json-keys-during-json-conversion-to-csv

[2019-12-28 16:05] stleary commented on #506
@yeliang99 Please see the FAQ topic [Why isn't ordering allowed in JSONObjects?](https://github.com/stleary/JSON-java/wiki/FAQ#why-isnt-ordering-allowed-in-jsonobjects). If you need this behavior, you might want to fork the JSON-Java project and replace the JSONObject collection, as is mentioned in the stackoverflow link.

[2019-12-28 16:16] johnjaylward commented on #506
@stleary it may make sense to have a params arg of key names that imdicates the order of output

[2020-01-02 14:44] johnjaylward commented on #505
@Alanscut , thanks for the detailed report. Personally I think the error in this case is acceptable. Technically the case that causes the OOM Error is malformed JSON and we don't need to support it. In the case of the quoted versions, it should be parsed as a string key and not cause any issues.

The JSON specification does not pose any limits on key lengths, and I don't think that adding any limi

[2020-01-02 14:54] johnjaylward commented on #501
@stleary I think a case could be made to update the `optJSONArray` method more useful. Currently if the value is not an instance of JSONArray, it just returns `null`. However, I think it would be useful to have single value fields return as single element JSONArray.

Using the example above:
[code]
would return a single element array in this case.

Basically, it would be similar to how the `accumu

[2020-01-02 15:01] johnjaylward commented on #501
Or if we wanted to note that these are matching methods to `accumulate`, we could call them `getAccumulated` and `optAccumulated`.

[2020-01-02 15:11] johnjaylward commented on #506
Ah, I didn't look at the code before posting my initial comment. It looks like this is already supported in the CDL class.
https://github.com/stleary/JSON-java/blob/master/CDL.java#L273

As mentioned in the SO Question, expecting the order of the keys to be consistent is a non-started for JSON. JSON Objects have no order to the keys. Once you order them it's "not-JSON" and should be considered a c

[2020-01-02 15:13] stleary commented on #506
Closing issue for the reasons cited.

[2020-01-02 15:13] #506 closed

[2020-01-02 15:17] stleary commented on #501
@johnjaylward Sounds good, no objections to proceeding with a PR. New method names are preferred lest we change the behavior of existing code.

[2020-01-02 15:21] johnjaylward commented on #501
@ogronome , do you want to start a PR for this? I'm leaning more towards the `getAccumulated` and `optAccumulated` names, but the `*AsJSONArray` should be fine if you like those better.

[2020-01-03 09:43] Alanscut commented on #505
@johnjaylward Thanks your reply. We really don't need to support invalid JSON text, but at least we should report an Exception to inform user. A OOM Error is quite terrible, if a hacker exploits this vulnerability, it may cause the system to crash. So I think we should do something to prevent an OOM, after all we can't limit what the user inputs.

[2020-01-03 14:16] johnjaylward commented on #505
There are many ways to generate an OOM error. Someone should just post a randomly generated A-Z or 0-9 string the the JSON parser to get a similar result. Is the concern that the OOM error happens on a relatively small input?

[2020-01-03 14:41] GedMarc commented on #505
The other side of this one of course is the message should be authenticated, verified and validated before reaching the point of actual calling, either through JWT, Basic or many sheesh many other forms.
In terms of interception the string should be put through a minimal set of input checks to verify it is indeed meant for the deserialization.
BUT
That does not happen in an API, that is in the ope

[2020-01-04 15:59] jordanamr commented on #451
Whoop whoop, we are in 2020, what's going on with this issue?

[2020-01-04 16:46] GedMarc commented on #451
See end comments here

https://github.com/BGehrels/JSON-java/pull/4

[2020-01-04 16:47] GedMarc commented on #451
JDK 8 EOL'd last year Jan btw

[2020-01-04 17:12] stleary commented on #451
Comment added to [PR 4](https://github.com/BGehrels/JSON-java/pull/4)

[2020-01-05 06:18] stleary commented on #451
Please see comments in https://github.com/BGehrels/JSON-java/pull/4. Looks like no further work is planned for this issue.

[2020-01-05 06:18] #451 closed

[2020-01-05 06:19] stleary commented on #480
Closed due to inactivity.

[2020-01-05 06:19] #480 closed

[2020-01-05 06:20] stleary commented on #490
Closed due to inactivity.

[2020-01-05 06:20] #490 closed

[2020-01-05 06:21] stleary commented on #497
Closed due to working as designed.

[2020-01-05 06:21] #497 closed

[2020-01-22 12:17] ssy-lehmann opened #508 "Sorted XML elements after conversion"
Hi,

When converting JSON to XML with your library we have the problem that elements in XML do not appear in same order as in the JSON. Reason for it is following code:

https://github.com/stleary/JSON-java/blob/master/JSONObject.java#L184

At this location as well as the other locations where you also create an instance of HashMap means that there is NO order.

Could you please provide a policy w

[2020-01-22 15:37] johnjaylward commented on #508
This is not likely to be fixed unless someone else is willing to provide a pull request that let's the XML builder know what order to spit out the JSON object keys. Changing the `JSONObject` to an ordered collection of any kind will not be accepted.

Please check up on the FAQ as well under the wiki pages: https://github.com/stleary/JSON-java/wiki

[2020-01-23 06:58] sskjames opened #509 "How to use JSON-java in a non-osgi project"
Hi,

I observed that JSON-java is available as a osgi bundle in Maven Central.
I would like to use it in a non-osgi project. Is that possible? Thanks.

[2020-01-23 09:25] GedMarc commented on #509
this would definitely be on your end as an error -

Maybe the maven https only switch? if you are routing to maven central from nexus, and on http, then this would happen after this change.

Close please, not related to this project but is system configuration

[2020-01-23 12:11] ssy-lehmann commented on #508
Mhhhh ... looking deeper it seems to me that order also might be a topic for the JSON side.
There should not be a hard coded way for the unordered nor the ordered side.
Considering (roughly) a JSONPolicies class:
- **JSONConfig.createMap()** - returns by default **new HashMap<String, Object>();**
- **JSONConfig.registerMapCreator(...)** -  could be also a lambda

Is that something you could agree

[2020-01-23 16:27] johnjaylward commented on #508
That exposes implementation details, so off the top of my head it doesn't seem like a valid solution. We also still have the "compiles to java6" limitation.

A similar solution would be to have a JSONConfig object like you suggest, but instead have an `enum` with values like `StandardsCompliant`, `InsertionOrder`.

[code]

This also opens up possibilities for finishing the changes in #453 to maint

[2020-01-23 16:43] johnjaylward commented on #508
Another more aggressive but configurable option would be to use an instance class for the configuration but have a static GLOBAL option. Then you could pass individual configurations to parsers as needed. If you only needed to change the settings once for the whole application you could, but if you wanted to you could just change it for a single object.

Maybe something like:
[code]

[2020-02-09 18:55] stleary commented on #509
Closed due to no activity.

[2020-02-09 18:55] #509 closed

[2020-03-20 17:13] RussiaVk opened #510 "strange exception"org.json.JSONException" when running my meven project"
The Exception only happen when run with tomcat,The module referenced by main meven project
`java.lang.ClassNotFoundException: org.json.JSONException
	at org.apache.catalina.loader.WebappClassLoaderBase.loadClass(WebappClassLoaderBase.java:1365)
	at org.apache.catalina.loader.WebappClassLoaderBase.loadClass(WebappClassLoaderBase.java:1188)`

[2020-03-20 17:22] johnjaylward commented on #510
You probably have conflicting dependencies. You should look at your full dependency tree and make sure no otger libraries are pulling in a conflicting json.org package

[2020-03-21 19:49] RussiaVk commented on #510
The exception were disapear after i put the jar file into tomcat lib folder
`https://blog.csdn.net/squeen_/article/details/46425331`

[2020-03-21 19:49] #510 closed

[2020-03-29 14:14] Hemant27031999 opened #511 "private access modifier used for NULL class even when its instance is used in JSONArray class."
Hello JSON team. I am a little confused about the `NULL` subclass being private.
The subclass `Null` inside `JSONObject` class is having private access modifier but the object instantiated using it in the same class i.e `NULL` is used in JSONArray class also. No error is thrown at compile time because this `NULL` object is instantiated by polymorphism and is of Object type at compile time:
`public

[2020-03-29 14:27] johnjaylward commented on #511
The `Null` class is meant to be used as a singleton through `JSONObject.NULL`. The only instance should be the public static instance on `JSONObject`. There is no reason to have a higher access modification than private since all direct use of the class is handled within the same parent object. All external calls only call public methods that exist on `Object`.

There is no way that I know of for

[2020-04-25 01:34] looly opened #512 "Why "</" need to escape?"
https://github.com/stleary/JSON-java/blob/6b6e8e85d842bdf397dd8928ed3a9bf747bc7513/JSONObject.java#L1971

[code]

Why this code need to escape? or append '\\'.

[2020-04-25 01:51] johnjaylward commented on #512
It is to prevent script injection for JSON that is embedded directly into HTML without validation

[2020-04-25 02:15] johnjaylward commented on #512
Here is a simple explanation: https://www.thorntech.com/2012/07/4-things-you-must-do-when-putting-html-in-json/

And https://stackoverflow.com/a/4180424

[2020-04-25 04:47] looly commented on #512
OK，I know, thanks!

[2020-04-25 04:47] #512 closed

[2020-04-25 18:16] renatoathaydes opened #513 "Make use of module-info.java"
In order for this library to be usable in a modular Java application that is distributed with a `jlink` image, it needs to be made modular.

It is possible to do that and still keep compatibility with Java 8 and earlier versions, if that's something that may be keeping you from modularizing this library, by using a multi-version jar.

When I try to use the latest version of this library on my modu

[2020-04-25 21:02] GedMarc commented on #513
Hey

I tried to go down this road https://github.com/stleary/JSON-java/issues/431
You can also carry on the attempt into this library over here
https://github.com/stleary/JSON-java/issues/451

If you just want to get up and running - this is the active running coordinates
https://search.maven.org/artifact/com.guicedee.services/json

100% maintained.

[2020-04-25 21:05] GedMarc commented on #513
you can carry on the pull request or whatever on this one https://github.com/BGehrels/JSON-java/pull/4

[2020-04-25 22:08] renatoathaydes commented on #513
You've been discussing this change for 2 years?! I just skimmed through the huge discussions, but are they saying that putting a `module-info` class file in `META-INF/` breaks some tools?? I've seen a few widely popular libs doing this and I assumed most libraries can do that... I would be very surprised if anything at all in `META-INF/` breaks stuff, as you could have arbitrary assets in that dir

[2020-04-25 22:17] GedMarc commented on #513
XD Hence why I just walked away

Yes the questions and the issue items and all the rest of the concerns on the pull request (that is the second one btw, the first one was a year long) are very very - questionable.

You're more than welcome to continue them - i keep closing it but they keep reopenning it, maybe there is simply something there that they just don't like xD

Larger libraries like prim

[2020-04-29 05:12] Snehby opened #514 "Visual Studio Code not recognizing json.org.simple as a dependency"
Hi, I'm working on a project with 3 other people and they have downloaded and successfully used this package. I am using Visual Studio Code and they are using Eclipse and jGrasp.

However, I keep getting compilation errors for this package:
![image](https://user-images.githubusercontent.com/12602831/80562449-caa33180-89b5-11ea-9c36-4e52ddabcac4.png)

With the Java Dependency Viewer extension I can

[2020-04-29 13:15] johnjaylward commented on #514
No. This is not the org.json.simple project, and we also don't debug environment issues or do homework for other people.

You should ask your TA or Professor, or a help forum for java issues in Visual Studio Code.

[2020-05-03 21:52] #514 closed

[2020-05-06 10:14] viveksacademia4git opened #516 "JSONArray does not have constructor to allocate the specified initial capacity"
The collection class like ArrayList has the [constructor](https://docs.oracle.com/javase/8/docs/api/java/util/ArrayList.html#ArrayList-int-) that accepts the number as an input to "Constructs an empty list with the specified initial capacity."
The absence of this functionality in the JSONArray will not affect the performance of the smaller applications with a fairly limited number of iteration, bu

[2020-05-06 12:44] johnjaylward commented on #516
You are right. If you have a collection you are converting to a JSONArray, this constructor does the trick: https://github.com/stleary/JSON-java/blob/master/JSONArray.java#L171

However, if you are building up from scratch using an input where you can guess the size but not know an exact size, we don't expose a way to do that.

We have a code reorganization going on in PR #515, but a PR to support

[2020-05-12 09:40] marcelbaumann commented on #513
The package provided under https://search.maven.org/artifact/com.guicedee.services/json saved my day. It is exactly that org.json should provide. I mean Java 9 is around since September 2017 and Gradle 6.4 finally support building module natively. It is time to add module support to all cool packages such as org.json, isn't it?

[2020-05-12 09:47] GedMarc commented on #513
@marcelbaumann the maintenance and management of this root project is nothing short of appalling. I really hope it is something that they look at and improve upon soon -
But even that pull request has hit the org.json limbo hell xD I really hope they fix their processes

https://github.com/stleary/JSON-java/pull/515

It's starting to get there hey, really happy to start seeing the massive uptake i

[2020-05-12 11:58] stleary commented on #513
Please read the [Wiki](https://github.com/stleary/JSON-java/wiki).

[2020-05-12 11:58] #513 closed

[2020-05-12 11:59] stleary commented on #511
Closed on the presumption the question was answered.

[2020-05-12 11:59] #511 closed

[2020-05-12 12:00] stleary commented on #508
Closed for lack of activity.

[2020-05-12 12:00] #508 closed

[2020-05-12 12:00] stleary commented on #505
Closed for lack of activity

[2020-05-12 12:00] #505 closed

[2020-05-12 12:01] stleary commented on #504
Closed for lack of activity.

[2020-05-12 12:01] #504 closed

[2020-05-12 12:01] stleary commented on #501
Closed for lack of activity.

[2020-05-12 12:01] #501 closed

[2020-05-12 12:03] stleary commented on #516
No objection to a pull request for this issue.

[2020-05-12 12:36] viveksacademia4git commented on #516
Should I make changes?

[2020-05-12 14:10] stleary commented on #516
Yes, please go ahead.

[2020-05-13 13:22] viveksacademia4git commented on #516
Thank you @stleary.

[2020-05-15 23:52] viveksacademia4git commented on #516
@johnjaylward and @stleary If we implement this constructor then I suppose that we also have to create a method to trim the size of the private ArrayList, like [trimToSize()](https://docs.oracle.com/javase/8/docs/api/java/util/ArrayList.html#trimToSize--). So the final code would have:
- [x] Constructor - JSONArray(int)
- [x] Method - Trims the size of private ArrayList

What do you think, is it f

[2020-05-16 00:13] viveksacademia4git commented on #516
I did not know that [JSON-Java-unit-test](https://github.com/stleary/JSON-Java-unit-test) existed for the purpose of unit testing, I will pull this branch.

[2020-05-16 01:03] stleary commented on #516
@viveksacademia4git You have a reasonable use case for the constructor. What is your use case for the method?

[2020-05-16 11:00] viveksacademia4git commented on #516
@stleary I do not have any practical use case as of now, but it occurred to me while working: what if someone has a use case which involves trimming the capacity of the underlying data structure.

But as I said before, "is it feasible" at this moment to create this method. Or we could introduce this kind of method if someone has a genuine and practical use case, and creates an issue requesting thi

[2020-05-16 15:14] stleary commented on #516
Recommend that you just add the constructor for now.

[2020-05-16 17:45] viveksacademia4git commented on #516
Cool!

[2020-05-16 20:09] viveksacademia4git commented on #516
@stleary I wasn't able to do the pull request that is why I preferred the fork option.
Please check these commits forked from [JSON-Java](https://github.com/stleary/JSON-java) and [JSON-Java-unit-test](https://github.com/stleary/JSON-Java-unit-test)

- [x] Constructor implementation, [Development for stleary#516 completed](https://github.com/viveksacademia4git/JSON-java/commit/ccb83095c13ebe74324a

[2020-05-16 20:15] viveksacademia4git commented on #516
I wasn't able to run the `gradle test` command but I executed the JUnit Test in Eclipse for the created test

JUnit Test In Eclipse:
![image](https://user-images.githubusercontent.com/45398326/82129370-8213b280-97c2-11ea-94c3-1ee36cdd31dc.png)

Gradle Did not work for me:
![image](https://user-images.githubusercontent.com/45398326/82129390-ad969d00-97c2-11ea-8f6d-4e8489b60309.png)

[2020-05-18 11:05] Narendra2github commented on #235
Hi John,
But it not working for single <title> element, its works for multiple

[2020-05-18 13:10] kushieda-minori commented on #235
hi @Narendra2github , I'm not sure I understand your question. Can you provide more context?

[2020-05-21 06:53] Hubgut opened #517 "Cookie needs an update to support HttpOnly (and also Secure)"
Hi,
I was happy to see your little Cookie-Implementation but it does not handle tokens without an '=' correctly!
There is only one exception for the "secure" token in the code, even "Secure" or other case-insensitive versions won't work. The standard request field "HttpOnly" will throw an exception like everything else too.
The best solution would be to handle all tokens without an '=' as a Boolea

[2020-05-21 14:27] johnjaylward commented on #517
Is there an RFC or other specification that notes this behavior?

[2020-05-22 19:09] johnjaylward commented on #517
found RFC Here:
https://tools.ietf.org/html/rfc6265

[2020-05-22 19:19] johnjaylward commented on #517
Looks like "User Agents" should ignore unknown attributes:

So it looks like instead of throwing an error, we just set the "true" flag as suggested by the OP and move on, then the caller of our Cookie class is responsible for validating actual attributes.

[2020-05-22 19:22] johnjaylward commented on #517
Also:

[2020-05-22 20:47] johnjaylward opened #520 "Update Wiki"
Wiki needs updates for test locations and contribution guidelines now that the test project has been merged.

[2020-05-22 20:56] johnjaylward commented on #517
@Hubgut please try out the changes in #521 and let me know how they work for you. I basically removed all attribute validation since User-Agents are instructed to ignore unknown entities anyway.

[2020-05-23 08:53] Hubgut commented on #517
@johnjaylward I've tested your changes and they work for my simple use case just fine. But I also looked a little bit at the details and it seems that you've forgotten to escape the `key` in `org.json.Cookie.toString(JSONObject)`. You do unescape it within `org.json.Cookie.toJSONObject(String)`, so I think, you just forgot it the other way around.

[2020-05-23 15:10] stleary commented on #517
Please continue this conversation in the pull request #521. @Hubgut comments on the implementation in particular belong there.

[2020-05-23 15:10] #517 closed

[2020-05-27 11:58] Arthur-Milchior opened #522 "License of test"
Hi,

Can you please let me know the LICENSE for the folder src/test ?

The file https://github.com/stleary/JSON-java/blob/master/LICENSE state that the license is applied only to /src/main
Regards,
Arthur

[2020-05-27 13:24] stleary commented on #522
@Arthur-Milchior  thanks for catching this. License updated, everything is under the original (src) license.

[2020-05-27 13:24] #522 closed

[2020-05-27 16:13] borgogelli commented on #438
Same code, but the output for me is:
[code]
I use the 20200518 version

[2020-05-27 16:16] borgogelli commented on #413
Same code, but the output for me is:
[code]
I use the 20200518 version

[2020-05-27 16:26] johnjaylward commented on #413
@borgogelli , I'm not sure I understand what action you are expecting from your comment. Are you confirming the fix worked, or do you expect the behaviour to be different?

[2020-05-28 14:50] borgogelli commented on #413
Hi @johnjaylward , both the things. First the output of my code is different from the code posted by @urfuchs . And then I have expected the result to be 72.35

[2020-05-28 15:33] johnjaylward commented on #413
The recommendation when using the `*BigDecimal` functions is to specify your scale. We purposefully expose the full `double` with  rounding errors due to use cases like this:

[code]
The old method of using the string value of the underlying double did preserve the value when parsed from a string, but it lost some complexities if the double was originally stored from a calculation.

PR #453 basica

[2020-06-01 18:54] johnjaylward commented on #516
@viveksacademia4git you will need to rebase because of the changes in project structure (or may be easier to just create an new branch and cherry-pick)

once that's done you can use the compare options to create the PR:
![image](https://user-images.githubusercontent.com/383703/83443444-bec4e800-a417-11ea-81a0-7f569bdd4b3d.png)

[2020-06-03 10:45] viveksacademia4git commented on #516
Hello @johnjaylward,

I have rebased the project as suggested by you and added the previously written code into it; you may find the changes in the commit [d088cf0](https://github.com/viveksacademia4git/JSON-java/commit/d088cf014e42b75b92d932adac1645840548c76d).

In addition to the above change, I have introduced the pipeline setting for this library in [maven.yml](https://github.com/viveksacademi

[2020-06-03 13:23] stleary opened #523 "Unit tests appear to be broken - recent merge?"
**Top priority  - get the unit tests working again. Needs to be working by EOD 6/3/2020**
Unit tests now working for gradle 6.3 with Java 1.8, and maven 3.2.3 with Java 1.8.

**Before any more PRs can be accepted:**
* Code and unit tests have to compile and execute using Java 1.6 - 1.8 **1.8 completed**
* Gradle builds need to work, with documentation suitable for new developers on how to get it r

[2020-06-03 13:31] johnjaylward commented on #516
@stleary I'm OK with the addition of the maven.yml, you?

[2020-06-03 13:43] stleary commented on #516
@viveksacademia4git What is the use case for adding CI to this project? Also, please provide an overview of you would go about doing it.

For the initial capacity PR, let's stick to the agreed-upon changes.

[2020-06-03 13:48] viveksacademia4git commented on #516
Okay then, I will do the pull request with the agreed changes only.
But, you may find the *maven: compile, test and build* report in the pipeline [123544252](https://github.com/viveksacademia4git/JSON-java/actions/runs/123544252)

[2020-06-03 13:54] johnjaylward commented on #523
@stleary the changes made here https://github.com/viveksacademia4git/JSON-java/blob/master/.github/workflows/maven.yml

provides an interface like this: https://github.com/viveksacademia4git/JSON-java/actions/runs/123544252

For every PR, it's automated and we can confirm if test cases are failing before merging them.

I think taking the changes from @viveksacademia4git would be a good idea for PR

[2020-06-03 13:55] johnjaylward commented on #516
@viveksacademia4git can you create a separate PR that just has the maven.yml changes?

[2020-06-03 14:04] viveksacademia4git commented on #516
Sure, I would be happy to do that.

[2020-06-03 14:17] stleary commented on #516
Please include text about why this change is needed and a description of the workflow from the point of view of the submitter. FYI, PR merges are on hold until the unit tests are fixed and a few other build problems are addressed.

[2020-06-03 14:38] viveksacademia4git commented on #523
Hello @stleary and @johnjaylward,

I was just going through this issue and I discovered a strange phenomenon, and I guess this issue is focusing on that.
If you execute the *mvn test* command it exhibits that there are total number of 315 tests, as displayed in the pipeline/action stage: [test:line9053](https://github.com/viveksacademia4git/JSON-java/runs/734229352?check_suite_focus=true#step:4:90

[2020-06-03 14:43] johnjaylward commented on #523
yeah, the main issue there I believe is due to the way we configure the tests. When run from the command line, all the tests are only run once. When run in eclipse, it runs the tests twice withing the same process scope, so those 2 singleton tests fail as they expect to be only called once.

I believe deleting the "TestRunner.java" file would correct it, but I haven't verified that.

[2020-06-03 14:48] viveksacademia4git commented on #516
Okay, @stleary and @johnjaylward,

I will create the issue once I find that the unit-test issue is resolved.

[2020-06-03 14:49] johnjaylward commented on #523
ok, deleting both `TestRunner.java` and `JUnitTestSuite.java` solves the eclipse problem. I haven't verified command line testing works yet with those removed.

[2020-06-03 14:52] viveksacademia4git commented on #523
It works everywhere now!

[2020-06-03 14:54] johnjaylward commented on #523
confirmed. `mvn test` runs just 314 tests with both those files removed, and Eclipse works fine. I did not verify `gradle` as I don't have a system gradle installed and this project doens't include the gradle wrapper.

[2020-06-03 15:20] viveksacademia4git commented on #523
I had an issue with gradle command, but everything works fine after making few changes.

Please check the commit [viveksacademia4git/JSON-java -> commit-2fc1934](https://github.com/viveksacademia4git/JSON-java/commit/2fc19349b2c39b80063f66b0e3d4a858687b5443)

[code]

[2020-06-03 16:20] johnjaylward commented on #523
I cherry picked your changes and was able to use the gradle wrapper, but I don't think the changes to the `build.gradle` were needed. I reverted that file, and was still able to run the tests using the command `./gradlew clean test check`

[2020-06-04 02:29] stleary commented on #523
Reopen so that all pending issues can be tracked.

[2020-06-05 23:39] #523 closed

[2020-06-06 11:31] viveksacademia4git opened #528 "Functionality to copy data from a Map and put them into an already initialized JSONObject"
I have a use case wherein I want to copy all the data (key-value pairs) of a `java.util.Map` object and put them into a JSONObject, which is already initialized or maybe it even contains some data. I am doing this task in the following manner:
[code]

What I am looking for is a method within the `JSONObject` class that perform the above task for me; like in the following code:

[code]

[2020-06-07 15:14] stleary commented on #528
Let's try to limit new APIs to essential functionality. We already have a JSONObject constructor that takes a map parameter.

[2020-06-08 13:30] johnjaylward commented on #528
I'm not sure this fits in at a library level for this library. This sounds more like a  Map Merge function, which would probably go in a more generic collections utility.

[2020-06-12 15:43] viveksacademia4git commented on #528
@stleary, Of course, JSONObject constructor performs the task of copying data from Map to the JSONObject during initialization but this use case is not different focusing on an already initialized JSONObject.
My concern is that a lot of programmers like myself have to come up with their own utility functions or write the program with a loop every time, for this use case. Having this functionality

[2020-06-12 15:43] #528 closed

[2020-06-17 10:25] Boy2ang commented on #330
哪位老哥知道了快救救我！

[2020-06-19 10:11] McTom234 opened #530 "Insolvable error: "No value for ...""
Hey guys,
I have a big problem with my code due to a JSONException.
I have a JSON message from my server, a custom object and a function that converts the JSON message to my object.

My message from the server looks like this:
`{ "array" : [ { "valueA":"A","valueB":"B" }, { "valueA":"C","valueB":"D" } ] }`

My object has two variables and a constructor to set these variables:
`String a;
String b;

[2020-06-19 10:33] #530 closed

[2020-06-19 12:05] johnjaylward commented on #530
You use the opt funtions instead of get for optional parameters.

[2020-06-23 08:44] Bohlski opened #531 "JSONObject.objectToBigDecimal precision errors when parsing doubles"
When parsing doubles the method uses the BigDecimal(double) constructor, which can have unpredictable results as stated in the docs: https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html#BigDecimal(double)

It is instead preferred to use BigDecimal.valueOf(double)
https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html#valueOf(double)

This lead to a few precision errors

[2020-06-23 21:03] viveksacademia4git commented on #516
Closing this issue, since the code from PR is available in master branch.

[2020-06-23 21:03] #516 closed

[2020-06-23 21:54] johnjaylward commented on #531
@Bohlski which version of the library is currently giving you the issue, the master branch or the latest release on Maven?

[2020-06-24 07:38] Bohlski commented on #531
@johnjaylward The latest release on Maven

[2020-06-24 10:46] johnjaylward commented on #531
Do you have a test case we can use to reproduce the issue?

On Wed, Jun 24, 2020, 03:38 Bohlski <notifications@github.com> wrote:

[2020-06-25 13:44] stleary commented on #531
@Bohlski We will look into these questions:
* Have recent commits resulted in changed behavior, causing problems for lib users?
* When was the change introduced?
* Should the change be reverted?
* Should some other mitigation be provided?

[2020-06-25 15:46] johnjaylward commented on #531
I used the test case provided and confirmed that the changes in latest master branch correct the issue.

[2020-06-25 22:02] #531 closed

[2020-06-27 23:17] BraedonWooding opened #533 "Bug in new JSON Object parsing through constructor"
## Problem

When parsing a JSONObject through a constructor using either a JSONTokener or a string it will ignore any extraneous characters at the end of a completed object;

## Example

[code]

Which is a bit of a contradiction to the tests [here](https://github.com/stleary/JSON-java/blob/6ddaa13c1e2cd870de90d96dc139cf64ea3c583f/src/test/java/org/json/junit/JSONTokenerTest.java#L122) indicating t

[2020-06-28 00:38] johnjaylward commented on #533
You can see here the test case is performing some extra validation that
only a single vale is represented in the input string.

https://github.com/stleary/JSON-java/blob/6ddaa13c1e2cd870de90d96dc139cf64ea3c583f/src/test/java/org/json/junit/JSONTokenerTest.java#L166

The JSONTokener allows multiple values to be separated by white space. It
does not currently have a strict mode

On Sat, Jun 27, 2020

[2020-06-28 00:40] BraedonWooding commented on #533
Sure I’m just thinking it’s a bit confusing since the JSON object here will only contain the first value and will ignore the rest.

It’s okay for the JsonTokener to be non strict of course but it does seem that in this specific case it’s much looser allowing invalid chars.

If you still believe it’s not a bug though I’ll be happy to close this.

[2020-07-05 16:43] stleary commented on #533
Please see this [Wiki page](https://github.com/stleary/JSON-java/wiki/FAQ#some-invalid-json-text-is-allowed-by-the-parser-shouldnt-this-be-fixed)

[2020-07-05 16:43] #533 closed

[2020-07-06 04:28] stleary opened #534 "Supported builds"
Is there a reason why our Maven builds require Java 1.7, while Gradle requires 1.8? Would it be better if they require the same Java version?

[2020-07-06 14:20] johnjaylward commented on #534
I believe it was because the current version of gradle being used only supports Java8+ while the Maven build we tried to ensure works with java6+. However, the Test cases support java7+. If we want the test cases to work on java 6, we will need to refactor some of them to remove java7 features.

[2020-07-06 15:42] stleary commented on #534
Thanks, somehow I had thought that the Java 6 compatibility work had already been done.

[2020-07-06 15:42] #534 closed

[2020-07-12 21:47] WHK102 opened #535 "Feature request - Add default value for fail getter or return null values"
Please, add a default value for fail getters, by example:

[code]

In the rest mode, the values can nullables, like as non primitive Java Objects.

For detect nullable values  can use `isNull` function for each object or property, but when a object have 100 properties i need make 100 conditionals:

[code]

I can use a Json schema validator, but anyway the java code need the conditionals.

Please,

[2020-07-12 21:51] #535 closed

[2020-07-13 06:10] onacit opened #536 "Separate main/test source/target compatibility"
First of all, thank you for integrating build scripts and test classes.

## Abstract
* Currently the main sources' compatibility seems to work for `1.6` which is good thing. I verified via `animal-sniffer-maven-plugin` with `java16` signature.
  * (I personally maintain [a repository which distributes JSON-Java for old and busted JREs](https://github.com/jinahya/json-retrotranslated))
* But some t

[2020-07-18 15:19] venkat-natsoft opened #537 "Issue while converting xml to json"
xml: <tag>Hypersegmented &#X7C; Bld-Ser-Pla</tag>

Caller method:
JSONObject xmlJSONObj = XML.toJSONObject(xml, true);

Error:
Caused by: java.lang.NumberFormatException: For input string: "X7C"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65) ~[na:1.8.0_201]
	at java.lang.Integer.parseInt(Integer.java:580) ~[na:1.8.0_201]
	at java.lang.Integer.parseInt(Integer.jav

[2020-07-18 17:07] stleary commented on #536
The various build mechanisms need some work that was identified in #534.
- I believe the current version of Gradle only supports Java 1.8 and greater. I think any change will require reverting the required Gradle version. I am not comfortable including an external gradle-wrapper.jar file in the project. However, it seems to be the only way we can use gradlew, and is not included in the application

[2020-07-18 17:09] stleary commented on #537
Can you provide some context? Perhaps a small XML doc that demonstrates the problem?

[2020-07-19 07:48] onacit commented on #536
A little bit off-the-topic, but.

Maintaining two different build system/scripts for a library module is not good, IMHO.
Consider choosing, and exclusively relying on, one of them.

I say, Apache Maven. (Integrated Maven Wrapper is [on it's way](https://issues.apache.org/jira/projects/MWRAPPER/issues/MWRAPPER-4?filter=allopenissues))

[2020-07-19 07:54] onacit commented on #536
And it's generally permissible to using different version from `main` to `test`.

* It's very important to govern the `main` source version as broad as possible.
* The `test` source version doesn't have to stick to the `main` source level.
  * Test functionalities itself can take benefits from new Java API.
  * That's why I mentions `1.8` which is an widely-adopted ITS-ish.

Thank you.

[2020-07-20 15:39] venkat-natsoft commented on #537
"<tag>Neutrophils.Hypersegmented &#X7C; Bld-Ser-Plas</tag>"
Full document url:
https://clinicaltrials.gov/ct2/show/NCT03874338?term=NCT02652975&rank=1&displayxml=true

[2020-07-20 16:20] stleary commented on #537
Is the problem that the XML-to-JSON parser does not properly handle  hex-encoded XML escape sequences?

[2020-07-20 16:30] stleary opened #541 "XMLParserConfiguration needs to be opened up."
High priority - at least one pull request is waiting on this.
See comments in #540 and #412
Existing XMLParserConfiguration constructors to be deprecated.
Add property setters.
Add default constructor.

[2020-07-20 21:20] johnjaylward commented on #537
@stleary , I believe that @venkat-natsoft is pointing out that our parser is case sensitive when it should not be.

https://github.com/stleary/JSON-java/blob/6ddaa13c1e2cd870de90d96dc139cf64ea3c583f/src/main/java/org/json/XMLTokener.java#L170

Current code:
[code]

Should be:
[code]

[2020-07-20 21:43] johnjaylward commented on #537
@stleary, I'm not able to reproduce with just the
[code]
sample.

It appears we already lowercase the entity: https://github.com/stleary/JSON-java/blob/6ddaa13c1e2cd870de90d96dc139cf64ea3c583f/src/main/java/org/json/XMLTokener.java#L146

[2020-07-20 22:07] stleary commented on #537
Maybe OP is using an old JSON-Java release?
I get correct results as well, and don't see the reported exception.

[2020-07-20 22:08] johnjaylward commented on #537
ok, I used the full file, and got a slightly different issue:
[code]

So for some reason it parsed it properly in the smaller sample, but in the larger sample it left it as the encoded entity.

[2020-07-20 22:32] johnjaylward commented on #537
ok, the issue with my test was that the source file had `&amp;#X7c;` in it. which when decoded becomes `&#X7C;` .

At this time, for random XML input I don't think we need any change. However, since `XML.unescape` is a public method which calls `XMLTokener.unescapeEntity` (non-public), I suggest we update the compare to be case insensitive. at the source (XMLTockener) so that outside callers don't

[2020-07-20 23:18] johnjaylward commented on #541
I don't think public setters on the configuration object is a good idea. For instance, if someone wanted to parse 2 or more XML files on different threads they could do something like this:

[code]

What I would prefer is instead to use a `withOption` and leave the values as `private final`.

What this could mean is that we still have a single simple constructor, but building up your config would

[2020-07-21 00:00] stleary commented on #541
That could work. What if someone needs to override multiple defaults on a single config?
For example, not executing in parallel, if the XML needs to configure keepStrings, convertNilAttributeToNull, and typeCastClass in a single XMLParserConfiguration instance?

[2020-07-21 07:37] venkat-natsoft commented on #537
Exactly that's what happening with a smaller portion and the whole document. Please trace the issue .

[2020-07-21 12:32] johnjaylward commented on #541
[code]
the `with*` methods would all return the new configuration option, so you can chain them like a builder.

[2020-07-21 13:44] stleary commented on #541
Sounds good! Do you want to add the code?

[2020-07-21 16:18] KimvdLinde opened #544 "Objects in collections needs to have override option from reflection-based variable detection"
adding a collection needs to have an option to use custom made JSONObjects for the elements in the collection instead of the default method and variable reflection based construction of the JSONObject because not everybody wants to push out all variables in the object into JSON to see for everybody.

[2020-07-21 16:19] KimvdLinde commented on #544
This is the code I use to override it:

`public JSONObject toJSON() {
		JSONObject collection = new JSONObject();
		this.keySet().forEach((key) -> {
			collection.put(key.toString(), ((AgObject) this.get(key)).toJSON());
		});
		return collection;
	}`

[2020-07-21 16:22] johnjaylward commented on #544
This project supports an interface [JSONString](https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONString.java) which I believe will do what you want assuming you have source control over the objects in the collection.

Were you looking for something different?

[2020-07-21 16:27] KimvdLinde commented on #544
No, I am putting out an JSONObject, not a string (yet).

[2020-07-21 16:30] stleary opened #545 "Readme or wiki update for XML parsing"
Review the readme and wiki to ensure there is sufficient explanation for how to do XML / JSON conversions.

[2020-07-21 22:28] #541 closed

[2020-07-21 23:19] johnjaylward commented on #528
In regards to #529 and it's relation to this PR, I still feel that this method as implemented is more application specific than library.  When dealing with map merges like this one there are multiple cases to consider if the `key` already exists in both maps.

One way of handling it may be to consider implementing multiple "putAll" methods:
1. `accumulateAll(Map<?,?> map)` which would go through e

[2020-07-21 23:38] johnjaylward commented on #544
An example implementation using the `JSONString` interface may look something like this:

[code]

Does something like this accomplish what you are trying to do, or do you need to work with actual JSONObjects?

[2020-07-21 23:44] johnjaylward commented on #544
@stleary can you add the above example to the Wiki somewhere? maybe make an examples page?

[2020-07-22 11:28] KimvdLinde commented on #544
I need the actual objects because I add them to other objects and if I use string it does not render correctly

[2020-07-22 14:24] johnjaylward commented on #544
Are you unable to add the original POJO? i.e. something like this:

[code]

[2020-07-22 20:18] KimvdLinde commented on #544
The above solution that I posted works brilliantly for me, so I just use that. Just was thinking that if the put(map) method would recognize a specific function to override the default, that would be an easy way to simplify the code for many.

[2020-07-23 16:02] #537 closed

[2020-07-24 08:16] stleary opened #546 "CI builds are failing after #539 commit"
.

[2020-07-24 08:28] stleary commented on #546
Somehow a couple of try-with-resources were still in XMLTest.java. Fixed and committed directly to master.

[2020-07-24 08:28] #546 closed

[2020-07-24 08:31] stleary opened #547 "Ready for next release"
This will be the first release after changing to the new directory structure and incorporating unit tests into the build.

[2020-07-24 17:57] MisterVector opened #548 "Empty JSON array cannot be loaded in"
With the following code:

[code]
And given a text representation of JSON thus:

[code]

I receive the following error when attempting to load an empty array:

![image](https://user-images.githubusercontent.com/437096/88419701-7af8ba00-cd9a-11ea-933f-fd7242c99973.png)

I'm wondering if this is intentional that empty JSON arrays cannot be loaded. I have no problems checking for a JSONException and i

[2020-07-24 18:22] MisterVector commented on #548
Whoops, I think there was a mistake on my part. Not sure what I did but it loads in an empty JSON array now. Disregard this!

[2020-07-24 18:22] #548 closed

[2020-07-24 18:22] johnjaylward commented on #548
I think you have a different error. I'm not able to reproduce this with the following test case:

[code]

Be sure to use debugging and set a breakpoint in your code, or add in log messages. The main reason I suspect this is that your code is using the `has` method before the `get`. It seems to me like you may have a multithreaded problem here where something is removing the key after the `has` met

[2020-07-24 19:18] stleary commented on #520
Proposed organization. This should be completed before the next release.

TOC

**Title**
* quick links

**Overview**
* Description

**Build instructions**
* Java, Maven, Gradle build requirements and examples (move executing unit tests example here)

**Notes**
* (Move text at end of file section to here)

**Writing Unit tests**
* Conventions can be moved here

**Files**
* (move the files table her

[2020-07-24 20:04] johnjaylward commented on #544
for full disclosure, I use a similar solution as @KimvdLinde  in my own copy of this library. Mine looks like
[code]

However, due to the presence of the `JSONString` interface in the main library I never felt comfortable bringing it over to here. For example, what if something like this were done:

[code]

Which output should be used? From the writer side we would need some kind of precedence ord

[2020-07-27 05:28] LibralCoder opened #550 "how to transfer xml to jsonArray rather than jsonObject"
`<Student><name>jack</name><subjects><item><class>english</class><grade>98</grade></item></subjects></Student>`
like this, I want to transfer the item  entry  to jsonArray ,but actually  the result is a jsonObject.
Can you help me ?

[2020-07-27 05:41] LibralCoder commented on #550
`<Student><name>jack</name><subjects><item><class>english</class><grade>98</grade></item><item><class>english</class><grade>98</grade></item></subjects></Student>`
What should I do if I expect the List name of multiple items to refer directly to its parent tag instead of its own tag？
My English is very poor, can you understand what I said？
I expect case like this
`{"Student": {
    "subjects": [

[2020-07-27 13:13] johnjaylward commented on #550
XML to JSON is generally a messy topic. Often, it doesn't work perfectly or cleanly unless you plan both structures out in advance, or leave them very simple.

Our XML -> JSON parser/converter accumulates common XML elements, so your existing XML:
[code]
Would end up looking like this:
[code]

If you have control over the XML generation, then you could do something like this to get the JSON you wa

[2020-07-27 13:16] johnjaylward commented on #550
another caveat to note, is that due to accumulating common elements, if you only have a single "subjects" element, then your json `subjects` will be an object, not an array:
[code]
Results in JSON:
[code]

[2020-07-27 13:18] LibralCoder commented on #550
haha , you repeat my requestion

[2020-07-27 13:31] johnjaylward commented on #550
No, that's the answer. The parser doesn't have a way to tell if an element is an array as it is not schema-aware even if you provide one in the `<xml ... ` tag.

Some example code for handling a document similar to yours would be something like this:
[code]

[2020-07-27 13:38] LibralCoder commented on #550
I know it's going to look something like this

Can you add some filters to the conversion process?For example, set some specific tag to indicate that it is a collection rather than a singleton.

[2020-07-27 13:45] johnjaylward commented on #550
I this having a getter on the JSONObject may be better. Something like this:
[code]

[2020-07-27 13:46] LibralCoder commented on #550
Threre is a sample  lib in github  which named XmlToJson.it not suitabled to me because it's build in gradel.
I have tried using dom4j but it needs to redefine the parsing rules every time, which is not universal enough. So I want to find a maven library that converts xml to json

[2020-07-27 14:05] johnjaylward opened #551 "Implement opt/get methods for accumulated values"
Currently we have an `accumulate` method on `JSONObject`, however, we don't have an easy way to get back out a consistent value (i.e. JSONArray).

One area where this is most painful is in XML to JSON conversion where some XML documents may contain a single element, while other documents may contain many.

Example 1:
[code]
Example 2:
[code]

This currently leads to very messy code that has to che

[2020-07-27 15:00] LibralCoder commented on #550
public class Aim {
    private static final String xmlStr =
            "<Student><name>jack</name><subjects><profile><item><class>english</class><grade>98</grade></item></profile></subjects></Student>";

    public static void main(String[] args) {

        JSONObject jo = XML.toJSONObject(xmlStr);

        ParserConfig parserConfig = new ParserConfig("Student", CollUtil.newArrayList("subjects/pr

[2020-07-27 15:01] LibralCoder commented on #550
I wrote a parser inspired by you. Thank you very much.

[2020-07-27 15:07] LibralCoder commented on #550
good bye my senior，I'm going to bed.

[2020-07-27 18:04] KimvdLinde commented on #544
I would say that toJSONstring is when it leaves the JSON package (print.out for example) and toJSON when adding to a JSONObject

[2020-07-27 18:14] johnjaylward commented on #544
so something like this?:
[code]

In essence, the `toJson` method would take precedence.

[2020-07-27 20:40] KimvdLinde commented on #544
Exactly.

[2020-07-27 20:47] KimvdLinde commented on #544
The benefit is that this is actually a much faster implementation that the reflection based current implementation.

[2020-07-27 21:10] johnjaylward commented on #544
@stleary any thoughts on the proposed interface? Is it something you feel is addable to the library?

I think the simpler method that @KimvdLinde suggested (`toJSON()`) would be a better candidate as it's easier to call internally. For my interface (`toJSON(int recursionDepth)`), I end up having methods on the JSONObject and JSONArray dedicated to the interface that looks like this (maybe... worki

[2020-07-28 00:54] stleary commented on #551
Agreed that the XML transformation is a tradeoff, sometimes a bad one. But would prefer to see something like an XMLParserConfiguration with() option that lets the user customize parsing.  Using opt() and get() methods to change the output from the internal representation doesn't seem like the best solution, at least to me.

[2020-07-28 02:00] stleary commented on #550
Closed due to resolved by other means.

[2020-07-28 02:00] #550 closed

[2020-07-28 02:23] LibralCoder commented on #551
Can we add some customize rule In the process of converting xml to json?

[2020-07-28 03:08] stleary commented on #544
@johnjaylward not sure yet.
OP reports he has a workaround, so why does this package need to solve the problem?
On the other hand, I do recognize that the JSONObject bean API may not be a good solution for everyone.
Will the JSONPropertyName annotation not help here?

[2020-07-28 03:39] KimvdLinde commented on #544
You can use those I guess. With those, I would have to address each possible public variable to have them names or ignored properly. I think my solution is easier and faster as it eliminates a lot of reflection.

[2020-07-28 04:30] stleary commented on #544
Easier to use is a valid reason.
What if the class already has a toJson() method, and the code starts behaving in an unexpected manner when the new API is introduced?

[2020-07-28 17:35] KimvdLinde commented on #544
That is a concern definitely. I've not immediately a good solution to that.

[2020-07-28 18:21] stleary commented on #544
To ensure we are on the same page:
Developers who can modify POJO definitions should have optional control over how Java object instances (beans) are parsed to JSON.
JSONString class and JSONPropertyName annotation are not good existing alternatives.
A special-purpose public method could be called to allow the instance to produce its own JSONObject.
The method could be accessed by the parser eithe

[2020-07-29 05:39] stleary opened #553 "GitHub actions do not support Maven builds using Java 1.6?"
Tried updating pipeline.yml to include 1.6 JUnit tests and report, but the new step fails. The error message suggests that the Maven version does not support 1.6. Please post here if you know of a way to get it working, or can confirm that it cannot be made to work.

[2020-07-29 13:07] johnjaylward commented on #553
I definitely had problems getting compilation working in a java 6 environment. That was why I split it off to it's own task-set and just ran the java commands directly without Maven or Gradle.

One option may be to add a couple new steps which would manually compile the tests and run them manually, but you would probably need to reinstate these deleted files : https://github.com/stleary/JSON-java/

[2020-07-29 13:17] johnjaylward commented on #553
The documentation I used for the actions was here: https://github.com/marketplace/actions/setup-java-jdk

[2020-07-29 13:23] johnjaylward commented on #553
looks like there is an open PR to allow specific Maven/Gradle versions in the actions: https://github.com/actions/setup-java/pull/42

If they accept that, we should be able to update the runner to use a supported Maven version for Java6

[2020-07-29 13:29] johnjaylward commented on #553
@stleary one of the comments in the PR I linked mentions "Actions" for setting up both gradle and maven:
* https://github.com/marketplace/actions/setup-maven
* https://github.com/marketplace/actions/gradle-command

Check those out and see if you can get it to work as expected for Java6

[2020-07-29 13:56] stleary commented on #553
@johnjaylward Thanks for the explanation and links, this is very helpful. 1.6 CI test support is not critical, will keep pipeline.yml unchanged for now.

[2020-07-29 13:56] #553 closed

[2020-07-29 21:54] stleary opened #554 "JSONObject constructor Issue arising from the #552 pull request"
From @johnjaylward: @stleary in reference to your note about parity with JSONObject constructors, we currently have this one that does a partial copy: https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONObject.java#L197
Should I add another one that does a full copy?
thinking the constructor would look like this:
[code]
or
[code]

[2020-07-29 21:56] stleary opened #555 "JSONObject.put() and JSONArray.put() do not call wrap() (Issue from #552 pull request)"
From @johnjaylward: I just noticed the JSONObject.wrap method call here (and in the other addAll method), and I think we may have an issue with consistency. If you notice both the JSONObject.put(String, Object) and JSONArray.put(Object) methods do not do any "wrap" calls to the values. However, the constructors (before the new addAll methods) both wrap values. I feel like this may have been an ove

[2020-07-30 01:09] stleary commented on #555
If it's an oversight, then at least in the cases of JSONObject.put(String, Object) and JSONArray.put(Object) it seems to go back to the first commit in 2010. If that is the case, I would lean towards adding a note to the readme but not changing the code, even if it is a bug. But let me know if you think it is more recent.

[2020-07-30 14:23] johnjaylward commented on #555
No, I think it's something that's always been there. Changing it at this point would be a fairly large breaking change, so unless we get a lot of complaints about it, I'm guessing it should stay as it is.

It did bug the heck out of me, which is probably why I "fixed" it in my personal copy. It really bugs me because `JSONObject.put(String, Map<?,?>)` will `wrap` the values withing the map, but `J

[2020-07-30 16:09] stleary commented on #554
I would consider this low priority unless someone requests it.

[2020-07-30 16:09] stleary commented on #555
Closed due to no action being taken at this time

[2020-07-30 16:09] #555 closed

[2020-07-30 16:13] stleary commented on #551
No objection to allowing developers to customize parsing. We already have XMLParserConfiguration, should try to use that first.

[2020-08-03 15:40] KimvdLinde commented on #544
I think that is a good summary and agreed. We just have to figure out a good method name that won't cause implementation issues, something like getOverrideJSONObject()....

[2020-08-03 17:10] johnjaylward commented on #544
I don't think we need to worry about the method name as much as the interface name. I'd prefer if we didn't use the `get` prefix though, as that could cause issues with some reflection tools that may look for properties based on the prefix. I think the `to` prefix would be preferred.

Either `toJSON` or `toJSONObject` should be fine. There should be no naming conflicts as long as no one else has m

[2020-08-03 17:30] stleary commented on #544
@johnjaylward  Thanks for clarifying. Agree that toJSONArray() is not needed. No objection to proceeding with toJSONObject().

[2020-08-04 02:41] KimvdLinde commented on #544
I concur.

What we need to add is code in the reflection component to pick up this function if present.

[2020-08-04 23:03] durpy-durpy opened #556 "Garbage at end of JSON data does not fail parsing"
Hello,

I don't suspect this is the intended behavior but extra characters at the end of an enclosed JSON object string do not lead to a failure in parsing. Using the instructions in the README I built the library from the tip and tested with almost the same `Test.java` but with a minor change:

[code]
where `junk` is appended. The output is still the same:

`{"abc":"def"}`

and I would have expec

[2020-08-04 23:11] johnjaylward commented on #556
That is as designed

[2020-08-04 23:14] durpy-durpy commented on #556
Thanks for the quick reply! How do I validate the input, i.e., that a given blob of text is valid JSON? Is there a mechanism in the API I'm not seeing?

[2020-08-04 23:18] johnjaylward commented on #556
No, at this time there is no Strict Mode for the parser. Per the json specifications, the parser is allowed to accept invalid json. As mentioned in the README.md, there are other cases that this parser allows which are not stictly allowed in json documents.

Output from this library will always strictly conform.

[2020-08-04 23:20] durpy-durpy commented on #556
Alrighty. Thanks for confirming.

[2020-08-05 02:07] #556 closed

[2020-08-07 16:03] sultanahaziq opened #557 "Jar is converting XML elements containing 'E' in the value to numbers"
Jar is converting XML elements containing 'E' in the value to numbers. for example, if a XML is like:
XML Message : <testMsg xmlns="http://www.test.com/sample/xml"><StrWithEInIt>0E42</StrWithEInIt></testMsg>
XML to JSON : {"testMsg":{"xmlns":"http://www.test.com/sample/xml","StrWithEInIt":0}}

			JSONObject jsonObject = XML.toJSONObject(testMsg);

[2020-08-07 16:06] johnjaylward commented on #557
That is the default behavior. You can change it by passing an https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/XMLParserConfiguration.java instance which is set to "keepStrings: true"

[2020-08-14 18:08] spaffrath commented on #554
I actually came here looking for this :) What is currently the best performing way to do a full copy of a JSONObject? `new JSONObject(jo.toMap())`?

[2020-08-14 18:22] johnjaylward commented on #554
With what's currently in Master, I believe the most performant would be something like this:
[code]
I believe converting to a Map first would be more expensive as it would basically have to add everything twice, once to the intermediary map, and again to the new JSONObject.

Can't hurt to write some test cases to verify though.

[2020-08-14 18:51] spaffrath commented on #554
@johnjaylward That wouldn't be a copy though because 'joNew' would contain references to the objects in 'jo'.

For example 'jo' gets modified when 'joNew' gets modified:

        JSONObject jo = new JSONObject();
        jo.put("x", new JSONObject("{\"nested\": { \"value\" : [1,2,3] } }"));
        System.out.println("jo: " + jo.toString());

        JSONObject joNew = new JSONObject();
        It

[2020-08-14 19:08] johnjaylward commented on #554
Yes, it's considered a **shallow** copy and the same thing would happen to any collection when performing a copy like this.

The `toMap` implementation does not do a true deep copy. i.e.
[code]

If you want a **deep** copy, then you should self implement that as needed since some types may need special handling to perform the deep copy.

See also:
* https://howtodoinjava.com/java/cloning/a-guide-t

[2020-08-14 19:26] johnjaylward commented on #554
I guess if I was to implement a deep copy in a generic way, I'd probably do something like this:
[code]

[2020-08-17 16:46] Dauthjan opened #559 "Change HashMap to ConcurrentHashMap"
Faced issue while updating JSONObject.

Convert JSON to XML.

Tried with JSON {"01":"Some Value"}
XML generated <01>Some Value</01>
This seems to be an invalid XML

Iterate the HashMap, if Key matches some RegEx, Create New Key as per rules defined, Put values and remove old Key. Ran into ConcurrentModificationException.
Changed HashMap behind JSONObject to ConcurrentHashMap to achieve the result.

[2020-08-17 16:51] johnjaylward commented on #559
I don't believe changing to a `ConcurrentHashMap` will fix that issue. I think what you actually want to do is return a new JSONObject from your transform.

psudocode:
[code]

[2020-08-17 17:01] Dauthjan commented on #559
Hi @johnjaylward  The solution that you suggested is what I approached earlier. Just to change the keys of the HashMap, creating a new HashMap will be efficient? Specially while dealing with large json? I fear that may result into heap memory issue.
I used simple iteration logic (https://www.baeldung.com/jsonobject-iteration) and replaced key.
Changing HashMap to ConcurrentHashMap actually solved

[2020-08-17 18:01] johnjaylward commented on #559
yes, if you are worried about heap, then in-place replacement will be better.

To replace the keys with the current hashmap, the way you would do it is to create a second set of the keys:

[code]

The idea is that you are iterating a new set of matching keys, not the JSONObject itself. So the delete/insert works since the iterator is for a different collection than the one being modified.

If you

[2020-08-18 10:50] Mahesharvinds opened #560 "A new method to retain the required keys and drop the remaining."
I faced a use case during my development, where I use a third party Rest API to fetch a resource from my server and modify it to enable my client to consume the result without having to make many changes.
For instance,
The Third Party API provides the JSON { "class-name" : "myclass" , "param1" : "long"  , "returns" : "int" }
My client needs only these {"class-name" : "myclass" , "param1" : "long"}

[2020-08-18 13:20] johnjaylward commented on #560
We have a constructor at the moment that can do that:
[code]
It would require building 2 JSONObjects, but one would be thrown away once the required parameters are kept.

[2020-08-19 04:34] Mahesharvinds commented on #560
Is it possible to achieve the negation ? I mean drop the given keys ? @johnjaylward

[2020-08-19 14:17] johnjaylward commented on #560
I mean, you can just remove them after parsing. Removal can be done one of 2 ways:
1. Assign java `null` to the key(s). This library treats java null as javascript `undefined`, so the key will be removed
1. Call the `remove` method directly for each key

Option 1 example:
[code]

Option 2:
[code]

[2020-08-20 12:58] #560 closed

[2020-08-25 18:34] jimblackler opened #561 "Queries involving keys containing four backslashes ("\\\\") failing."
I encountered a problem with an application when JSON keys contained four backslashes (\\\\).

After a lot of debugging I found that JSONPointer (used in my app) was returning null when queried. Stepping through the code it seems that the token used for the key may be double unescaped; I saw the same token unescaped() on line 173 when the JSONPointer was built, then on line 213 when the pointer wa

[2020-08-25 19:54] johnjaylward commented on #561
@erosb do you have time to look at this one?

[2020-08-25 22:53] jimblackler commented on #561
Thanks guys. I found that the pattern ~~0 fails for the same reason.

[2020-08-29 15:55] stleary commented on #561
Will wait a few more days in case @erosb is available to look into this.

[2020-08-29 16:07] stleary commented on #559
Closed due to concerns having been addressed in the comments, and no code changes planned at this time. Post here if you think there is still an unresolved issue.

[2020-08-29 16:07] #559 closed

[2020-08-29 16:09] stleary commented on #557
Closed due to answer provided.

[2020-08-29 16:09] #557 closed

[2020-08-29 19:51] erosb commented on #561
Guys, unfortunately I can't see any chance of looking into this in detail.

[2020-08-30 02:28] stleary commented on #561
@erosb No worries, thanks for responding

[2020-09-19 12:17] jimblackler opened #563 "JSONPointer: Encoding quotes not required?"
JSONPointer encodes quotes as \\"

https://github.com/stleary/JSON-java/blob/7abd89b4bcc321152c178af5504da7ea4ac66693/src/main/java/org/json/JSONPointer.java#L271

However I can't find a requirement for that in https://tools.ietf.org/html/rfc6901#section-3 or elsewhere.

It causes a conflict in an application that expects the canonical form of the URL not to be escaped in this way. For use in frag

[2020-09-22 15:23] stleary commented on #563
Please see  [https://tools.ietf.org/html/rfc6901#section-5](https://tools.ietf.org/html/rfc6901#section-5).
Does this address your concern?

[2020-09-22 15:53] jimblackler commented on #563
Is that saying that those chracters should be escaped when represented as a JSON string literal? (That would be something handled by clients not by JsonPointer()). Does the requirement apply otherwise?

If the code at https://github.com/stleary/JSON-java/blob/7abd89b4bcc321152c178af5504da7ea4ac66693/src/main/java/org/json/JSONPointer.java#L271  is executed and I JSON encode the resulting string I'

[2020-09-22 16:03] jimblackler commented on #563
The motivation for the query is a clash between JSON Schema offical test suite requirements and org.json.JSONPointer implementation.

https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/master/tests/draft7/ref.json#L363

The test "refs with quote" creates a reference to the value at definitions/foo"bar; in JSON Schema references are required to by JSON Pointers, first escaped to the JSO

[2020-09-23 15:22] kovax commented on #536
First of all I am glad you started all these changes, it makes contribution to org.json much easier (). I would like to make few more suggestions, I use them for my open source project, and I am happy to help to implement them.

- I would vote for maven only, It is simple and established, integrated with IDEs (e.g. eclipse), and I  I do not think you need the flexibilty of gradle.
- use [semantic

[2020-09-24 17:36] stleary commented on #563
Are you requesting a change to the code?

[2020-09-28 09:41] jimblackler commented on #563
Yes; if the exising maintainers agree with me that the current behavior is incorrect.

[2020-09-28 14:00] johnjaylward commented on #563
I haven't had any time to look into this or read through the spec. Work has been been very busy for me lately. At the moment I don't think I have enough understanding of the problem to comment.

[2020-09-30 15:20] kovax commented on #551
My project is also heavily relies on the XML to JSON functionality of json.org, and it would be perfect if the `XML.toJSONObject(someXmlSource);` could be configured with a list of fields names (perhaps list of xpathes), that are enforced to produce JSONArray. All of our xml data has an XSD, which can be be used to determine the multiplicity of the element (maxOccurs > 1), so ultimately this trans

[2020-09-30 15:43] johnjaylward commented on #551
We don't currently have any xpath support in the project, and I don't foresee us ever supporting XSD. However we do have a JSONPath implementation that could be used to implement something similar to your idea, but on the result side instead of the source side.

[2020-10-01 09:39] kovax commented on #551
@johnjaylward I guess your solution patches the JSONObject after the XML to JSON conversion. This is a good workaround, I should have thought about it :) , but I still would prefer if the framework could support.

BTW, I am sorry that I mentioned XSD, I know it would be way too complex to use here ...

[2020-10-01 10:00] kovax opened #564 "XML to JSON conversion does not keep the order of fields"
JSONObject uses HasMap internally which does not keep the order of insertion. I suggest to use LinkedHashMap instead. I have tried it on a clone, see link bellow, I can quickly add a test and submit a PR.

https://github.com/stleary/JSON-java/compare/master...kovax:develop

[2020-10-01 13:02] johnjaylward commented on #564
please see the FAQ : https://github.com/stleary/JSON-java/wiki/FAQ#why-isnt-ordering-allowed-in-jsonobjects

The use of hashmap will not be changed in this project. The data contract of a JSONObject is that the keys are unordered.

[2020-10-01 16:33] kovax commented on #564
I do not ask it to be ordered, I ask to keep the order while converting from XML to JSON. You could say my solution is not correct, because it 'breaks' that requirement.

[2020-10-01 16:49] stleary commented on #564
@kovax sorry, did not intend to close the issue so quickly if you still had something to say about it. Will leave it open for a day or so, in case anyone wants to comment.

Requests to order JSON objects are common enough that it is included in the Wiki: [https://github.com/stleary/JSON-java/wiki/FAQ#why-isnt-ordering-allowed-in-jsonobjects](https://github.com/stleary/JSON-java/wiki/FAQ#why-isnt-o

[2020-10-01 18:26] johnjaylward commented on #564
"keeping" order is still ordered. Some people argue that using a hash map is still "ordered" because the hashes should be fairly unique and maintain order that way, but different version of the JVM may hash the keys differently giving different orders when run on different VMs.

Basically, the "result" we are looking towards with the current implementation is that you can't rely on key order. One

[2020-10-01 18:32] johnjaylward commented on #564
duplicate of #37, #66, #210, #228, #270, #300, #303, #383, #387, #395, #425, #508

[2020-10-01 20:52] kovax commented on #564
@stleary Thank you indeed. First of all I apologize, I should have read the existing issues first, and I can see that it ordering in JSONObject is a serious matter for you. I personally like this thread the most #425 ;)

So I checked the XMLParser, and I am sure I won't make an attempt to change it to keep the order of fields during XML to JSON conversion. Instead I will make, hopefully not a futi

[2020-10-02 03:11] petercwallis opened #566 "Where is the API documentation?"
- in the code no doubt.  But I just spent half an hour **not** finding how to get a named string attribute from a JSONObject...
A 'getting started' entry about how easy it is to use this package would not go astray.
P

[2020-10-02 03:20] stleary commented on #566
That's on me, there have been other requests for API docs, JavaDocs, etc, but time has not permitted. As luck would have it, I expect to have some cycles available soon, and I love to write documentation, so stay tuned...

In the meanwhile, if you have not already found it, try:

`jsonObject.getString("myStringKey");`

Caveat: This will throw an exception if the key is not found, or if the value i

[2020-10-02 08:47] MBENKI opened #567 "How use the json library"
Hello i am new to programming, i would like to ask how can i install properly the library, i prefer not using dependency managers like Maven or anything else (simply because i have no idea how it works and i got to use a piece of code on raspberry), is there a .jar file for the library?
Please if can anyone can help me.

[2020-10-02 08:57] GedMarc commented on #567
Ok I'll entertain,

Your preference is wrong, any language you have to use a dependency manager. Pick one, maven grade ant custom private built, that's not something you're going to get away from no matter what you do.

If you want a jar, go into maven repository or site and download it.

[2020-10-02 09:26] MBENKI commented on #567
Thank you @GedMarc, yes i just downloaded the jsr file, but you're right i''l learn Gradle and Maven or ant ... seems unavoidable indeed

[2020-10-02 09:52] GedMarc commented on #567
sadly so, need to have the "don't need to understand it to use it" :)
keep in mind though
* C# it's nuget/npm
* JS it's bower and npm
* ruby its rubygems

Every language, maybe not C - when you start writing programs a little larger and a bit more real-world, it'll all make sense

[2020-10-02 10:06] MBENKI commented on #567
That's very helpful @GedMarc thank you i will keep this in mind, i was suffering and getting lost very quickly because i refused to use things and don't have a grasp on, i find myself always trying to understand but with not much success.

this is so true

[2020-10-02 10:06] #567 closed

[2020-10-05 14:20] fossterer commented on #566
Hello @stleary

I have been an active user of this project for over an year and would want this open-source project to live on.
I am actively converting instances of `net.sf.json` and `net.minidev.json` usages in our projects at work into (guess what?) `org.json` exclusively and have documented changes to API calls and challenges observed.

I have been on the lookout to be able to contribute here

[2020-10-05 14:36] petercwallis commented on #566
Yes the existing documentation site would have done me! (I just looked at
the source code and solved it in 5 minutes but)

A getting started example at the top of the project page for the newbies
(with JSONObject.get(String) and put(..)) and a link to that page is all
that is needed.

p

On Mon, 5 Oct 2020 at 15:21, Shashank Sabniveesu <notifications@github.com>
wrote:

[2020-10-06 15:25] stleary commented on #566
The JavaDocs are good for reference, but not as helpful for learning.
The readme should have a link to a **Getting Started**  or **Quick Start** guide in the wiki.
The front page of the wiki has a little text on this subject but it was never completed.

[2020-10-06 15:27] stleary commented on #564
Thanks for the comments, closing this issue to align with the original author decision.

[2020-10-06 15:27] #564 closed

[2020-10-07 19:50] stleary commented on #563
@jimblackler Thanks for being patient. I don't see a compelling case for a bug that must be fixed. At best, it may be an unusual corner case. However, if the current behavior is causing problems with your application, feel free to submit a PR that converts JSONPointer string escaped double quotes with the corresponding URI-encoded value. Otherwise, we will probably leave the code as-is.

[2020-10-07 22:48] jimblackler commented on #563
Thank you for te reply Sean. I don't agree that corner case is a good description of the probem since anything that uses a quotation mark in tokens will encounter this. I believe that the library is applying transformations that are not required by rfc6901 and this sadly is actively preventing the library from interoperating with programs that do follow the standard (as per the example in comment

[2020-10-08 07:16] ConradMoeller opened #569 "public static String org.json.XML.toString(Object) produces invalid XML"
{
   "tag":{
      "two":"two",
      "one":1,
      "three":{
         "five":"üäö#+!\"§$%/()=?´`",
         "four":4,
         "six":{
            "seven":{
               "type":"seven",
               "8eight":8
            }
         }
      }
   }
}

The json example generates a xml with element <8eight> but elements with a number are illegal. That causes an error generating a dom from the r

[2020-10-08 15:26] johnjaylward commented on #569
duplicate of #109, #123, #138, #166, #294

This probably won't be changed as noted in the previous issues/PR. Key validation should be handled as a pre-conversion item on the developer side.

[2020-10-08 15:29] johnjaylward commented on #569
Although, I wouldn't mind implementing the change from #109. It appears to at least notify the developer at runtime that their JSON model does not work for XML.

[2020-10-08 17:05] stleary commented on #569
@johnjaylward No objection if you want to implement something similar to #109.

[2020-10-08 17:13] stleary commented on #563
OK to proceed, but please review the [FAQ](https://github.com/stleary/JSON-java/wiki/FAQ). Changes that break backward compatibility are rarely accepted.

[2020-10-08 17:48] jimblackler commented on #563
Well, I believe it would fall under https://github.com/stleary/JSON-java/wiki/FAQ#what-kind-of-changes-will-be-accepted-for-this-project

"Changes to existing behavior that has been in place for a substantial period of time will only be accepted in the case of bugs where the existing behavior is clearly worse than the fix."

This behavior has beeen present for 4.5 years. (Added in https://github.c

[2020-10-08 21:22] stleary commented on #561
Looks like this will need to be addressed without the benefit of expert advice.

It seems likely to me that the implementation is only intended to handle Java strings with quotes and double backslashes, both of which happen to be examples in [RFC6901](https://tools.ietf.org/html/rfc6901).  Arbitrary sequences of backslashes in keys would appear to be unsupported. There may also be an issue with th

[2020-10-08 21:24] stleary commented on #554
Closed due to no recent activity.

[2020-10-08 21:24] #554 closed

[2020-10-09 06:47] ConradMoeller commented on #569
Thank you for feedback I did not recognize that the issue is known. We will handle that before we use the conversion method by our own (e.g. find and replace with regex).
Ticket could be closed.

[2020-10-16 16:21] stleary commented on #569
Closed per discussion.

[2020-10-16 16:21] #569 closed

[2020-11-10 11:12] Tilko commented on #66
you put your mind in jail or what ? ...

[2020-11-10 14:09] johnjaylward commented on #66
Yes. JSON was made for data exchange. If you are relying on some ordering of keys, Then you are using something that looks like JSON, but is not. If you need ordering in JSON, you use an Array, not an Object.

[2020-11-10 23:42] Tilko commented on #66
I tried to imagine a case where the choice of a particular order could be a bad idea, guess what, I did not find any because the JSON spec let us free about it. Have I a lack of imagination ?

[2020-11-11 02:05] stleary commented on #66
@Tilko Thanks for offering your thoughts on this issue. In this case the project is sticking with unordered due to [RFC 8259](https://tools.ietf.org/html/rfc8259):  "_An object is an unordered collection of zero or more name/value pairs_".

Let's give the last word to Douglas Crockford, who invented JSON, was the author of this project, and left this comment in issue #37: "_This has been tried. Wh

[2020-11-11 02:08] AlexByte commented on #383
testy

[2020-11-14 20:05] holgerbrandl opened #571 "Preserve insertion order when stringifing JSONObject"
Sure, the specs don't specify an ordering (as correctly pointed out in the javadocs), but a particular implementation - such as this one - _can_  provide some ordering semantics. It is not wrong if an implementation is opinionated, there is just no definition in the json spec about this should be done.

So why not using LinkedHashMap instead of HashMap in https://github.com/stleary/JSON-java/blob/

[2020-11-14 21:37] holgerbrandl opened #572 "Support creation of root arrays"
With the current API root arrays can not be created (or it's unclear how to do so).
[code]

Relates to https://github.com/holgerbrandl/jsonbuilder/issues/1

[2020-11-14 21:42] johnjaylward commented on #572
[code]

[2020-11-15 06:29] stleary commented on #571
@holgerbrandl Thanks for offering the suggestion. Keeping this issue open for a few days in case anyone else wants to post.

[2020-11-15 07:22] holgerbrandl commented on #572
Thanks for your kind support and sorry for the tracker spam.

[2020-11-15 07:22] #572 closed

[2020-11-15 18:56] holgerbrandl opened #573 "Support equality testing"
It would be great if the library would support `equals` for `JSONObject`.

An important use case would be equality/regression testing. See [here ](https://github.com/holgerbrandl/kalasim/blob/b5d9416d48ce959b4a3e637db54cd93fe24968ce/src/test/kotlin/org/github/holgerbrandl/kalasim/examples/kalasim/SalabimExampleTests.kt#L65) for an example which hacks around the problem by using toString (which som

[2020-11-15 22:11] stleary commented on #547
Completed with release 20201115

[2020-11-15 22:11] #547 closed

[2020-11-16 05:38] stleary commented on #573
Please try the JSONObject and JSONArray methods `boolean similar(Object)` and see if they do what you want.

Agreed that the docs need a lot of improvement. I will be getting to that.

[2020-11-16 08:25] holgerbrandl commented on #573
Thanks for the quick support and the pointer to `similar`.

However, since java builds a lot on top of `equals` (and `hashCode` with which it shares a common [contract](https://www.baeldung.com/java-equals-hashcode-contracts#1-hashcode-contract)), `similar` is no real substitute for `equals/hashCode` imho.

[2020-11-18 20:20] aweinrich opened #574 "Old published maven release missing source code."
It looks like the 2009 release did not include source code when you uploaded it to maven central.   Im not sure if that version on maven is immutable or you can add to it.  All other versions seem like they include source code.

[2020-11-18 21:11] stleary commented on #574
This repository only goes back to 2010. I think the 2009 source code must be lost to the ages.

[2020-11-19 20:38] holgerbrandl commented on #573
Not sure what the contract of `simular` is but in https://github.com/holgerbrandl/kalasim/blob/fa03db490984464cad6c4a290f5f6eee5176a169/src/test/kotlin/org/github/holgerbrandl/kalasim/examples/kalasim/SalabimExampleTests.kt#L67 `toString` results in equality whereas `simular` does not.

[2020-11-19 21:00] johnjaylward commented on #573
The contract is
* here: https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONObject.java#L2042
* and here: https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONArray.java#L1345

Both methods are recursive and call each other as needed.

1. Json Objects must have the same keys.
1. Json Objects must have "similar" values for keys of the same names. This

[2020-11-19 21:15] holgerbrandl commented on #573
The reason for `similar` not returning `true` in my example/test whereas toString.equals does, is that one field (`duration`) is a float in one JSONObject and an int in the second JSONObject. This is rendered in the same way (no digits for the float) but similar detects it as being different. The value is 50 in both cases, so its not the value but the type mismatch which causes the `false`.
![imag

[2020-11-19 22:03] johnjaylward commented on #573
Agreed. It would make sense to compare numeric values by value only.

[2020-11-20 09:36] martin-christen opened #576 "CDL with other delimiter (e.g. semicolon, colon, pipe)"
Hi,
we have the issue, that we need an other delimiter (semicolon, colon, pipe) for converting csv to JSON
I did it myself, and attached the modified code

Martin
[CDL.zip](https://github.com/stleary/JSON-java/files/5572599/CDL.zip)

[2020-11-20 13:15] johnjaylward commented on #576
and you please supply changes as either a PR or a standard diff?

[2020-11-20 15:34] stleary commented on #574
Closed due to no further action can be taken for this issue

[2020-11-20 15:34] #574 closed

[2020-11-22 21:23] #573 closed

[2020-12-10 19:29] roryabraham opened #578 "Converting a JSONArray into XML is not working properly."
I have code that looks like this:

[code]

But is outputting this:

[code]

As you can see, the JSON looks correct: `Contacts` maps to a JSONArray of `Contact` items. However, the resultant XML wraps each `Contact` item individually with a `Contacts` tag (instead of one tag wrapping the entire array of `Contact` items).

I would expect the XML to instead look like this:

[code]

[2020-12-10 21:35] stleary commented on #578
@roryabraham thanks for bringing up this issue. This is the expected behavior and is not a bug, so it cannot be changed. However, XML/JSON transforms are allowed a little more flexibility. If you can find a unique way of identifying the array elements (e.g. a JSON object element with key=contacts whose value is a JSONArray) then maybe it could be addressed by adding a string property to XMLParserC

[2020-12-10 23:07] roryabraham commented on #578
Hi, thanks for getting back to me so quickly! My mistake for failing to realize that this is the expected behavior. I ended up solving it by just doing something like this:

[code]

Which should be sufficient for my needs.

[2020-12-10 23:07] #578 closed

[2020-12-10 23:28] janicki opened #579 "Suggestions for more-consistent handling of null values"
Disclaimer: This feedback is based on experience with an old version of this code, but after browsing the source code, it looks like the following still applies.  Please forgive me if/where I'm mistaken:

Consider `JSONObject obj=new JSONObject("{'key':null}");`  A subsequent `obj.get("key")` looks like it will return `JSONObject.NULL` instead of `null`.  That's not intuitive.  I think it should i

[2020-12-10 23:35] janicki commented on #571
Sounds like a good idea to me, but maybe implement it as a subclass that programmers can opt for when appropriate, e.g. `JSONOrderedObject`, to avoid unexpected compatibility or performance issues in existing apps?

[2020-12-11 20:33] johnjaylward commented on #579
For this library, Java `null` is equivalent to JavaScript `undefined`, while `JSONObject.NULL` is equivalent of JavaScript `null` (as JSON stands for JavaScript Object Notation).

I do like the idea of a `JSONObject.putNull`. Or possibly a configuration setting that could be set which would "preserve nulls"

[2020-12-11 20:40] stleary commented on #579
@janicki Thanks for posting. I think you raise valid concerns about the use of JSONObject.NULL and the practice of deleting the key when calling put() with null, and appreciate that you recognize the importance of maintaining backward compatibility. No objection to a PR that does not change existing behavior, e.g. putNull().

[2020-12-11 21:23] johnjaylward commented on #571
I'm still not a fan of an implicit order internally. I'm not opposed to a subclass that makes it explicit though. The `JsonTokener` would need the most modifications in that case in order to know what subclass of JSONObject to instantiate.

If we were to bump the minimum required JVM from 6-8, this would be fairly easy to do by adding a lamba parameter to the tokener which returns a JSONObject.

[

[2020-12-14 17:34] kmnalluri opened #580 "XML.toString() handling nulls"
Not sure if this is an issue but the json null values when converting to XML are coming up as string "null" in the xml.

org.json.JSONObject jo = new org.json.JSONObject("{ \"A\" : \"123\", \"B\" : null, \"C\" : \"789\" }")
 XML.toString(jo, "root") returns below.

<root><A>123</A><B>null</B><C>789</C></root>

I'm expecting a blank for <B>.

[2020-12-14 20:47] kmnalluri commented on #580
Looks like the changes that were done for this issue are no longer in the latest releases.

https://github.com/stleary/JSON-java/pull/430/commits/640e05e86d5c376051deca239b4bec643e632b34

[2020-12-15 07:23] javadev commented on #580
It may be converted to xml:

[code]

[2020-12-15 13:58] kmnalluri commented on #580
@javadev , I ended up using Underscore as it does that.

[2020-12-15 14:39] javadev commented on #580
The current implementation worked as expected:

[code]

[2020-12-15 14:49] javadev commented on #578
[code]

may be converted to the xml
[code]

[2020-12-15 14:58] johnjaylward commented on #580
That commit was abandoned as it had issues impacting the JSONML implementation. At the time, no one had time to work around the concerns or to validate that the change to the JSONML handling was legitimate.

[2020-12-16 12:15] niteshbheda commented on #561
I am facing a similar issue in Values when we a backslash escape character supporting " inside the value then .op function fails to return the escape character. For instance:

package com.chu;

import org.json.JSONObject;
import org.json.XML;

public class Test {

    public static void main(String[] args) {
        // TODO Auto-generated method stub

        String input = "{\"Parameters\":{\"PAY

[2020-12-16 13:38] stleary commented on #561
Does anyone want to address this with a code fix?

[2020-12-16 14:25] johnjaylward commented on #561
I'm booked up pretty solid through Feb with work. If someone else could get a PR, I should have time to review it though.

[2020-12-24 08:54] alien142 commented on #566
I can't find any document or example about convert json data to object

[2020-12-24 20:26] stleary commented on #566
All of my free time to write docs evaporated soon after the Oct posts. Will try to put something together this weekend.

[2021-01-11 11:12] kovax commented on #571
I tried to argue for a similar feature in issue #564. My proposal was to make the use of LinkedHasMap configurable in a system property. In the commit bellow you can see the changes needed to test the use LinkedHasMap:

https://github.com/kovax/JSON-java/commit/dab6c125bd2eb546dc534a94e7ce1d9b952e0b25

[2021-01-19 19:46] leonardofel commented on #382
I fixed this "feature" and created this project https://github.com/leonardofel/JSON-java-put-null-fix

making the following code bellow possible:
[code]

prints:
[code]
just works !!!

[2021-01-19 19:51] leonardofel commented on #296
I fixed this "feature" and created this project https://github.com/leonardofel/JSON-java-put-null-fix

making the following code bellow possible:
[code]

prints:
[code]

just works !!!

[2021-01-20 15:32] ek08 opened #582 "Length of key in JSONObject.java should be checked"
I was doing a case study on JSON-java with the checker framework (https://checkerframework.org/) . I performed the index checker
(https://checkerframework.org/manual/#index-checker) .
### Steps to compile :
javacheck -cp $ADD -processor index $MYPATH/*.java

javacheck is aliased as shown in the manual https://checkerframework.org/manual/#javac-wrapper

$ADD= path-to-JSON-java
$MYPATH=path-to-jOOU/

[2021-01-20 15:38] johnjaylward commented on #582
If you look at lines 1550 through 1557, you will see that the key can never be null or 0 length

[2021-01-21 16:42] stleary commented on #582
@ek08 No objection if you want to change the code for the sake of a clean JavaCheck run, as long as there is no behavior change.

[2021-01-21 16:54] ek08 commented on #582
Alright so should I submit a PR by changing that line?

[2021-01-22 02:53] stleary commented on #582
I think that change should be OK. You can submit the PR and see if anyone raises an objection.

[2021-01-27 06:10] ek08 commented on #582
Created a PR .

[2021-01-27 06:10] #582 closed

[2021-02-13 06:31] ek08 opened #584 "Length of String e in unescapeEntity(String e) method should be checked before parsing"
The length of String e in the  unescapeEntity( String e) should be checked in line 170 in XMLTokenerClass , because if the value of e is  "#" then there may be an issue.
The line
[code]
may be changed to
[code]

[2021-02-13 06:45] johnjaylward commented on #584
Can you make a test case to demonstrate?

[2021-02-13 07:06] ek08 commented on #584
[code]
Running javac Test.java gives no error ,
but running java Test the output is
Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: 1
	at java.base/java.lang.StringLatin1.charAt(StringLatin1.java:47)
	at java.base/java.lang.String.charAt(String.java:693)
	at Test.unescapeEntity(Test.java:13)
	at Test.main(Test.java:3)

Now changing the line if (e.ch

[2021-02-13 14:13] johnjaylward commented on #584
No, I meant a test case usuing the public apis. Not a direct call to the
internal method

On Sat, Feb 13, 2021, 02:06 Ehtesham Khursheed <notifications@github.com>
wrote:

[2021-02-16 06:00] ek08 commented on #584
I am having a problem in writing test case by using the public api . I would be grateful if someone helps me out .

[2021-02-16 06:03] ek08 commented on #584
Also in JSONWriter class in line 216 the array access can be negative.
[code]
top is initialized to 0 initially.

[2021-02-16 11:18] stleary opened #586 "Offline for a few days"
I am likely to be unavailable for a few days, possibly until Saturday Feb 20, 2021 due to winter weather.

[2021-02-16 13:56] johnjaylward commented on #584
My guess is that the values are protected against incorrect values from the calling methods. since the `unescapeEntity` is not public, it is expecting to work with a specific set of data. Specifically, it expects to work with strings that have the correct properties.

Yes please. If you can show a test case for it as well, that will help fix any issue. This this is a public method, I expect it wil

[2021-02-17 07:24] ek08 commented on #584
If I change the code here will it bring any change in the functionality cuz changing me for java check using Checker Framework.
I don't think that this changes any functionality.
Please correct me if I am wrong.

[2021-02-20 15:32] stleary commented on #586
Back again, after a sobering lesson in the vulnerability of the electrical, natural gas, and water utilities in Texas.

[2021-02-20 15:32] #586 closed

[2021-02-20 18:50] stleary commented on #584
There are instructions in the readme on how to build the project and execute the unit tests. If this is not working for you, or if your setup is different, post the details here and we can try to work through them.

[2021-02-20 18:52] stleary commented on #580
Closing due to lack of activity. If this issue is still a concern, post here and I will reopen it.

[2021-02-20 18:52] #580 closed

[2021-02-20 18:55] stleary commented on #579
Closing due to no activity. If this issue is still a concern, post here and I will reopen it.

[2021-02-20 18:55] #579 closed

[2021-02-20 18:56] stleary commented on #576
Closing due to no activity. If this issue is still a concern, post here and I will reopen it.

[2021-02-20 18:56] #576 closed

[2021-02-20 19:57] stleary commented on #536
Closing due to lack of activity. Multiple concerns were raised in this thread. If you want to continue any of them, please open a new issue and reference this one.

[2021-02-20 19:57] #536 closed

[2021-02-22 04:05] ek08 commented on #584
Yeah the build is successful now . I have tried with some examples I found.

[2021-02-28 21:17] fossterer commented on #563
@jimblackler Have opinions on https://github.com/stleary/JSON-java/pull/588?

I didn't get " Linked pull requests" and " Linked issues" to [reflect the availability of PR](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue)

[2021-02-28 22:37] cdanger opened #589 "Numbers with/without trailing zero not similar according to JSONObject#similar()"
Hello,
as confirmed by #134 , numbers 1 and 1.0 should be considered the same in JSON. However, the method `JSONObject#similar(Object)` does not. Here is a simple test:

[code]

[2021-03-01 14:04] stleary commented on #589
@cdanger Thanks for bringing up this issue. Changing existing behavior is generally not encouraged in this project, but let's see if others have an opinion.

[2021-03-01 14:08] johnjaylward commented on #589
@cdanger can you run against tyeblastest `master`? I believe this was fixed recently

[2021-03-01 14:10] johnjaylward commented on #589
See #575

[2021-03-01 18:23] johnjaylward commented on #561
I believe #588 will fix this as well

[2021-03-01 18:56] johnjaylward commented on #584
it will affect performance as adding code that does nothing always affects performance.

If you can, just use whatever "ignore" options are available in "Java Checker Framework" to note that it's not an issue.

[2021-03-01 19:01] johnjaylward commented on #584
specifically from the checker framework manual section 2.4.5 https://checkerframework.org/manual/ :

[2021-03-01 23:54] cdanger commented on #589
Indeed, I had tried with the last release 20201115. And now with the latest master, I confirm it is fixed :+1: .
Looking forward to the next release! Anytime soon I hope :-)

[2021-03-02 13:19] stleary commented on #589
A release will be scheduled before the end of this week.

[2021-03-02 15:28] johnjaylward commented on #561
@jimblackler comparing your changes to the changes in #588, I believe #588 is more correct. We still need to escape/unescape the `/` and `~` characters, so we still need the method to be called. Sorry it took us so long to review this and get a fix in.

[2021-03-06 16:37] stleary opened #590 "Need to complete the unit tests for JSONPointer"
See the discussion about unit tests in #588. The code has been merged, but should not be released until all of the suggested unit tests have been implemented. Unit tests that are mentioned in the comments and already in place should be refactored if they do not clearly show the expected result in the code. For example, this code:

[code]

Could be refactored to:

[code]

[2021-03-07 20:18] arneboockmeyer opened #591 "JSONArray interpretes [$0$] as a correct JSON Array"
Hi guys,

when I'm running the code:
`JSONArray arr = new JSONArray("[$0$]");`
the constructor returns a valid JSON array with one object. (Println produces `["$0$"]`.)

Running the same example (`[$0$]`) in different validators and looking at the JSON standard (https://www.json.org/json-en.html) I think, the code above should produce an error.

What do you think?

[2021-03-07 20:20] johnjaylward commented on #591
According to the JSON spec, parsers are allowed to be more lenient than generators. Our parser allows unquoted keys and values.

[2021-03-07 20:25] arneboockmeyer commented on #591
Thanks for the quick response! I also just saw your hint in the FAQ, sorry for the inconvenience.

[2021-03-07 20:25] #591 closed

[2021-03-08 03:59] stleary opened #592 "20210307 release - update Readme jar and release links when Maven publishes the updated release."

[2021-03-10 01:55] stleary commented on #592
Updated on master branch.

[2021-03-10 01:55] #592 closed

[2021-03-12 01:41] xiejx618 opened #593 "how to make a pretty-printed XML text from JSONObject?"
org.json.JSONObject#toString(int) has an indentFactor parameter, but org.json.XML.toString does not have an indentFactor parameter

[2021-03-12 03:56] stleary commented on #593
No objections if you want to submit a PR with support for formatted XML output. If you do so, recommend that you use JSONObject.toString(int) as a model, if possible.

[2021-03-16 03:15] relax-admin opened #595 "How to convert a node of xml to json array"
This is achieved in python, is it possible to add similar parameters in java

In the following example, **interfaces are parsed into an array** as expected

[code]
output
[code]
is it possible to add similar parameters in java?
[code]

[2021-03-27 14:15] stleary commented on #595
Hi @relax-admin Sorry for the late reply. XML-to-JSON transformations are imperfect. We use `XmlParserConfiguration` to fine-tune the results. Feel free to post a pull request to implement the desired behavior.

[2021-03-30 11:07] xiscomigueles commented on #566
Hi, I need the documentation for a research project, where can I find it?

[2021-03-30 15:43] IsmaelP19 opened #598 "New logo for the project"
As we have seen the project doesn't have any logo yet, we have created a sketch and suggested it as an improvement.
![image](https://user-images.githubusercontent.com/79575588/113017175-7b462200-917f-11eb-9ef3-4e4863600454.png)

[2021-03-30 16:44] GedMarc commented on #598
i think getting JDK11 compatible has a much higher priority than an image on a finished project, #justsaying

[2021-03-30 17:16] pabramber01 opened #599 "Suggestion type support"
I've seen the possible API changes within the FAQ, and it occurred to me if a possible improvement is to add support for the Fraction type. I've been using it quite a bit and find it quite useful. Before starting the implementation to support it, I would like to know if it would be an accepted change or not.

The fraction type I've been using: https://commons.apache.org/proper/commons-lang/apidocs

[2021-03-30 17:18] migromarj commented on #598
I think you are right, but from my point of view having your own logo is very important because it gives users a first impression of your product, and obviously that impression should be good.

[2021-03-30 17:20] GedMarc commented on #598
its the RI release for the json standard - it should have the same branding as everything else RI that follows the scripted standard,

Being none.

It's not a product

[2021-03-30 17:29] GedMarc commented on #598
Try to better understand the term "Not for profit",
Thanks.

[2021-03-30 17:30] johnjaylward commented on #599
This project has no external dependencies at the moment. If you can make a way for this project to support the fraction class without actually referencing it, I think that would be acceptable.

[2021-03-31 02:22] stleary commented on #566
Please check here: [http://stleary.github.io/JSON-java/index.html](http://stleary.github.io/JSON-java/index.html). If you need some other type of documentation that is not in the Readme or one of the wiki pages, let me know and I will see what I can do.

[2021-03-31 15:52] pabramber01 commented on #599
Okay, I'll see what I can do. I will put the progress here or even in a pull request if it is very advanced :)

[2021-03-31 16:03] pabramber01 opened #600 "Little error in JSONStringer doc"
I have found a small bug in the API documentation. As I have seen in the JSONStringer class objects and arrays can be nested up to 200 levels deep and in the documentation it says 20.

The JSONStringer document: http://stleary.github.io/JSON-java/index.html

[2021-04-01 01:50] stleary commented on #600
I believe this was fixed in the JavaDocs in the code in #594, but the API docs only get updated when there is a new release. Usually, that is every 4-6 months.

[2021-04-01 11:33] TheNeoStormZ commented on #566
I have made a simple Java file in which i explain how to get started with all the JSON-types and how to use all conversors to new-comers. Would it be interesting enough to upload it to GitHub and request a merge?

[2021-04-02 05:39] stleary commented on #566
@TheNeoStormZ It is OK to submit a pull request. Normally this information would appear in the readme or a wiki page. If the content is helpful, we can find a place to put it.

[2021-04-02 14:58] pabramber01 commented on #600
Oh I had not seen that issue. So, since the problem is already solved, I close this

[2021-04-02 14:58] #600 closed

[2021-04-04 18:21] gkj17 opened #602 "No direct method <init>(Ljava/io/Reader;)V in class Lorg/json/JSONTokener;"
[code]

this is the error code:
        val xmlJSONObj: JSONObject = XML.toJSONObject(myXML)

myXML is :

[code]

[2021-04-05 02:00] stleary commented on #602
@gkj17
[https://github.com/stleary/JSON-java/wiki/JSON-Java-for-Android-developers](https://github.com/stleary/JSON-java/wiki/JSON-Java-for-Android-developers)

Does this Wiki page offer any insight?
By the way, what version of Android are you writing this code for?

[2021-04-18 05:39] #602 closed

[2021-04-18 15:12] stleary commented on #598
@IsmaelP19 The basic design looks good and I would like to use it for this project. Would you mind removing the JSON 'O' and Oracle coffee cup images, and just provide the text?  If you want to replace either with a different image of your own design, that would be fine too.

[2021-04-19 11:14] Tacodude7729 commented on #598
![image](https://user-images.githubusercontent.com/27910867/115227760-3e54c600-a154-11eb-98db-8aec996616af.png)
Thought I'd throw my hat into the ring with this design. Thoughts?

[2021-04-23 06:08] stleary commented on #598
@IsmaelP19 Can you please update your design to remove the borrowed images?
@Tacodude7729 Thanks for submitting your design.

[2021-04-23 10:26] IsmaelP19 commented on #598
I'm sorry I couldn't answered you before, but I was really busy.
I made the logo again to improve the quality of the image, removing the JSON 'O' and the Oracle's coffee cup images.
![Logo-no-marks](https://user-images.githubusercontent.com/79575588/115858069-ca097380-a42e-11eb-84ee-df39793b1c69.png)

[2021-04-23 12:55] stleary commented on #598
@IsmaelP19 Thanks!

[2021-04-23 18:18] sazontyev opened #603 "JSON-java"

[2021-04-23 18:18] #603 closed

[2021-05-03 01:30] karldamus commented on #598
![json-java-1](https://user-images.githubusercontent.com/44273743/116834788-a8765d80-ab8d-11eb-9f53-5eb2b8267463.png)
Why not do something a lot simpler?

[2021-05-03 01:33] karldamus commented on #598
![json-java-2](https://user-images.githubusercontent.com/44273743/116834865-0145f600-ab8e-11eb-9d11-c5cf3dcecd3f.png)
My take on a design

[2021-05-10 03:00] stleary commented on #598
Looks like these are all of the proposed logos, thanks everyone for submitting your ideas!
If anyone has a preference for which logo to use please post below. If there is a clear favorite, that one will get picked. Otherwise, I will pick one in a few days.

[2021-05-28 23:32] rhoehener opened #605 "Feature request: more formatting control: e.g. multi-line output even if only 1 key exists (same as major IDEs)"
My current use case is to programmatically edit [app.json](https://docs.expo.io/versions/latest/config/app/).

This project config file is usually manually edited. Another example would be [package.json](https://docs.npmjs.com/cli/v7/configuring-npm/package-json).

It typically has only a single key 'expo'.

I cannot use this library without [preserved key order](https://github.com/stleary/JSON-ja

[2021-05-30 14:41] stleary commented on #605
@rhoehener Thanks for bringing up this issue. The project is currently in maintenance mode, which limits the changes that can be accepted. Please see the [FAQ](https://github.com/stleary/JSON-java/wiki/FAQ) for more details. If you have something that is compatible with the FAQ guidance, feel free to submit a pull request for it.

[2021-06-16 13:34] nagarajan4 opened #609 "Not parsing a xml with html content as value to json"
I need to convert the below XML to JSON with the nested HTML content intact.

[code]
Expected Json :
[code]
Actual json output from the converter :
[code]

I can understand this can be expected behavior but any chance do you to support this use case ?

[2021-06-16 16:56] stleary commented on #609
Can you try wrapping your value content in CDATA?

For example,
[code]

[2021-06-17 05:33] nagarajan4 commented on #609
Yeah that is probably correct, but the xml generated by an old framework that doesn't follow the CDATA inclusion for characters with mark up. If there is any other way please let me know, since we parse XML based on the occurrence of '<' tag I feel there not much which can be done.

[2021-06-18 20:23] nagarajan4 commented on #609
Thank you. Ended up parsed the XML directly and converted such fields as strings and stored them as a Map which is converted to JSON. Closing the issue as it is not a problem of the JSON-java library. But it can be considered as an enhancement ?.

[2021-06-18 20:23] #609 closed

[2021-06-23 00:54] stleary commented on #598
Updated.

[2021-06-23 00:54] #598 closed

[2021-07-12 14:31] eyalb40 opened #611 "Bugfix in JSONObject.Similar()"
I JSONObject.Similar() you return true\false after comparing a number property. Should only return if false.

Should replace
                    return isNumberSimilar((Number)valueThis, (Number)valueOther);
with
                    if (!isNumberSimilar((Number)valueThis, (Number)valueOther))
                        return false;

[2021-07-13 00:01] stleary commented on #611
Agreed, good catch @eyalb40, and thanks for the heads-up. Feel free to submit a pull request to fix this, if you want.

[2021-07-15 16:12] slawekjaranowski opened #612 "missing public pgp key on keys servers"
pgp public key used for signing maven artifacts is not available on keys servers ... so signature verification is not possible

For latest two version key of fingerprint: 0x83D7DB7C18913CA4 was used - please upload this key to key server

for version: 20200518 was used key 0xCDCAA216B086A7B603B638C5145D819475314D97 and it is avaliable.

[code]

and last valid

[code]

[2021-07-15 22:39] stleary commented on #612
Thanks @slawekjaranowski I will look into this.

[2021-07-18 14:53] stleary commented on #612
Please retry, let me know if you are still seeing a problem.

[2021-07-18 15:34] slawekjaranowski commented on #612
problem still exist, please try run:

[code]

[2021-07-18 15:39] stleary commented on #611
Fixed in #613

[2021-07-18 15:39] #611 closed

[2021-07-18 15:44] johnjaylward commented on #611
@stleary, you should also correct the `similar` in `JSONArray`

[2021-07-18 15:49] stleary commented on #605
@rhoehener Some reasonable implementation of optional formatting should be possible. Can  you provide an example of what your preferred output would look like?

[2021-07-18 15:51] stleary commented on #599
Closing this issue due to no input in the past 3 months.

[2021-07-18 15:51] #599 closed

[2021-07-18 17:36] johnjaylward opened #614 "Is it time for Java8+ support?"
Oracle itself has ended support for Java8 and many companies are starting to move off of 8 and onto at least 11 (the next [and current] LTS after 8). Oracle has the next LTS at 17 due Sept 2021.

Java 8 was released in 2014 and Java 11 in 2018. Java 6 was release first in 2006 and java 7 released in 2011. This puts us at requiring a fairly ancient version at this point. The last public release of

[2021-07-18 18:31] stleary commented on #612
Confirmed, working on it...

[2021-07-19 03:02] stleary commented on #614
Thanks, it's very helpful to lay out the factors affecting the choice of Java version support. I added the text as a Wiki page here: [What Version of Java Should This Project Support?](https://github.com/stleary/JSON-java/wiki/What-Version-of-Java-Should-This-Project-Support%3F)

Let me know if you have any issues or concerns with the Wiki page content.

I will leave this issue active for a week o

[2021-07-19 03:49] stleary commented on #612
It's odd - the command works correctly on one computer, but fails on another, on the same network. Of course, it works on the machine where I created the key, so perhaps that is not a fair test. I am getting `gpg: keyserver send failed: No data` errors now on pgp.mit.edu, so I don't trust that server. Next release, I will use a different key server. Unless someone has a better idea, that may be th

[2021-07-19 06:21] GedMarc commented on #614
you can track that request back about 4 years to my original request

Worst. Maintained. Project. Ever.

[2021-07-19 07:03] rhoehener commented on #605
@stleary I tried to describe my use case in detail in my first comment: I'm trying to programmatically edit json "config" files. Since config files are often under version control, the goal is to to keep the key order stable and to have the same formatting as used by the IDE (JetBrains, Eclipse, XCode etc). I'm not sure exactly what kind of formatting they use but at least some of them seem to use

[2021-07-19 07:17] slawekjaranowski commented on #612
you can use another key server to publish your key, like:

[code]
https://central.sonatype.org/publish/requirements/gpg/#distributing-your-public-key

by the way it is strange that my example command `mvn ...` works on one host and doesn't work on another - this plugin doesn't use `gpg` so should be independent of having or not `gpg` key on host.

[2021-07-19 15:12] stleary commented on #614
Well, that escalated quickly. Your direct comments are worthy of a direct answer. There will be no change to the minimum Java version.

[2021-07-19 15:38] johnjaylward opened #615 "Please reopen #614"
Please reopen #614 . I believe it requires further discussion.

I don't believe the original author would have any qualms about updating the Java requirements. In 2014, he added support for java 1.8 (see commit a9a07623834b6da2c2c3d47b440e002dedfd9e17). It was later reverted (I believe after he did the hand-off to you). I don't believe he'd be against the update today if we ensured functionality.

[2021-07-19 17:17] stleary commented on #614
Comments by @johnjaylward in #615

I don't believe the original author would have any qualms about updating the Java requirements. In 2014, he added support for java 1.8 (see commit a9a07623834b6da2c2c3d47b440e002dedfd9e17). It was later reverted (I believe after he did the hand-off to you). I don't believe he'd be against the update today if we ensured functionality.

Also, Some historical ticket

[2021-07-19 17:19] stleary commented on #614
Please address how we can ensure that user projects won't break if they happen to be using Java 1.6, Android developers in particular. This is my main concern.

[2021-07-19 17:20] stleary commented on #615
#614 reopened, toxic comments removed.

[2021-07-19 17:20] #615 closed

[2021-07-19 18:17] johnjaylward commented on #614
1. Android developers targeting ancient versions of android should be able to use an older version of the library (baring any bug in a particular version)
2. Market share of different Android OS levels seem to indicate that around 12% of android phones are using an android version incomparable with Java 8+. Due to the "desugaring" tool that Android provides, anything targeting Java 8-11 will be "d

[2021-07-19 18:19] johnjaylward commented on #614
Here are the results of a developer survey published 1.5 years ago that show 3% of developers using Java7 or lower: https://snyk.io/blog/developers-dont-want-to-leave-java-8-as-64-hold-firm-on-their-preferred-release/

[2021-07-20 01:54] stleary commented on #605
@rhoehener If you have something that formats the JSON for printing more or less correctly for you, please share it. Maybe there is some way we can incorporate it as an option.

[2021-07-22 17:26] mathijs81 opened #616 "Issue with JSONObject::similar"
After upgrading from 20200518 to 20210307 some of our tests that are using JSONObject::similar started to fail.

This case reproduces the problem:

[code]

This creates two JSONObjects whose value is just `{"a":1.1}`.

The output of this snippet on 20200518 is
[code]

but on version 20210307 the similar call suddenly returns false, even though the string representations of the objects are the same

[2021-07-22 17:40] stleary commented on #616
@mathijs81 Thanks for bringing this up, will investigate and someone will get back to you soon.

[2021-07-23 01:39] stleary commented on #616
The 'a' value is set by put(double) and is not exactly equal to 1.1.
The 'b' value is initialized by parsing a string in the JSONObject constructor. Due to recent changes, it is parsed into a BigDecimal, and is exactly equal to 1.1.

I think this needs to be fixed. If anyone has preferences or opinions on how to fix it, please post here. Otherwise, I will come up with a solution in a few days.

[2021-07-26 09:18] blalasaadri opened #618 "Number comparison in JSONObject::similar can be confused by similar numbers"
In version 20210307 I have the following two JSONObjects:
[code]
These should **not** be similar, since the value of `c` is clearly different. However the value of `first.similar(second)` will be `true` because for number fields the logic is
[code]
([JSONObject, line 2095](https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONObject.java#L2095)) rather than
[code]
so a single

[2021-07-26 13:05] stleary commented on #618
Isn't this fixed in #611?

[2021-07-26 13:13] johnjaylward commented on #618
Agree, looks like a duplicate of 611

[2021-07-26 22:47] #616 closed

[2021-07-26 23:13] stleary commented on #618
Should be fixed now.

[2021-07-26 23:13] #618 closed

[2021-07-27 07:23] blalasaadri commented on #618
Agreed, thanks!

[2021-08-03 13:58] ArianKG opened #619 "Not working in threads"
I making a Minecraft launcher and I need to parse JSON. So, I used JSON-java. But it seems like JSON-java not working in threads.
My Minecraft launcher code: [JLXLauncher.txt](https://github.com/stleary/JSON-java/files/6924593/JLXLauncher.txt)

[2021-08-03 18:04] johnjaylward commented on #619
Correct. The underlying storage for JSONObject and JSONArray are not thread safe. If you need to share a single json object, you should use a monitor/lock to access it

i.e.

[code]

Your other option may be to read your configuration into a JSON object, then convert it to a ConcurrentHashMap, and then share the hash map

[code]

Then to save changes to the config back to disk:

[code]

[2021-08-03 18:12] johnjaylward commented on #619
Actually, looking at your implementation, I don't see any multithreading at all related to JSONObject.

What is that actual exception/problem you are having?

[2021-08-03 18:17] ArianKG commented on #619
@johnjaylward My problem is:
When I run my launcher, "Test 1" (that is in line 105) will print, but "Test 2" (that is in line 107) will not print.

[2021-08-03 18:21] johnjaylward commented on #619
Also, I see issues with your use of file paths. It is not OS agnostic. You should not be concatenating the directory separators yourself. instead your use of `Paths.get` should look like this:

[code]

URLs always use the same path separator regardless of the OS, so no worries with those. It's only the local files that you need to worry about.

[2021-08-03 18:24] johnjaylward commented on #619
Yes, but what is the error that is output? surely the `e.printStackTrace();` is giving you something?

[2021-08-03 18:59] ArianKG commented on #619
@johnjaylward There is no error. The only problem is "Test 2" will not print.

[2021-08-03 19:01] johnjaylward commented on #619
what is the content of the JSON that is causing the issue?

[2021-08-03 19:05] ArianKG commented on #619
@johnjaylward Just look at the code. It generates according to the Minecraft version. Also, I even changed the JSON content to "{}", but not working.

[2021-08-03 19:21] johnjaylward commented on #619
I did. There is no reason for the code to stop at that point with no error. There is either an error you are not noticing, or the json content has found a bug in the parse that is creating an infinate loop.

If you can debug and step into the code to see what the issue is exactly, that will help, otherwise we will have to close this as not having enough information

[2021-08-03 22:21] ArianKG commented on #619
![Output of my program](https://user-images.githubusercontent.com/72304422/128093769-b48056d3-7c16-48a1-b001-be689064718a.png)

[2021-08-04 05:04] ArianKG commented on #619
@stleary If it's not a JSON-java issue, how can I fix it?

[2021-08-04 05:21] stleary commented on #619
@ArianKG sorry, that was not a useful label. Posting a screenshot is unlikely to be helpful. But if you upload your code to a GitHub repo and post a link here, then someone may be able to offer assistance.

[2021-08-04 05:24] ArianKG commented on #619
@stleary I uploaded my code in this issue. Is it needed to make a GitHub repository?

[2021-08-04 11:17] ArianKG commented on #619
@stleary Sorry, this is not a JSON-java issue. I should add classpath to the JAR file.

[2021-08-04 11:17] #619 closed

[2021-08-10 11:40] 247-coder opened #620 "How do I prevent recursion?"
I currently have a class ```User``` and a class ```Post```.
User.java
[code]
Post.java
[code]

However, if I now create a ```User``` and try to put it into a ```JSONObject```...
[code]
it throws a StackOverflowError. Is there a way to tell the library to specifically skip the ```user``` property for the ```getPosts``` list or ignore it if the value of the ```user``` property is already in the fina

[2021-08-10 12:57] johnjaylward commented on #620
I would use https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONPropertyIgnore.java

On the User.getPosts field assuming it would be a separate REST call

[2021-08-10 13:16] johnjaylward commented on #620
The more generic solutions are to use the existing interface called JSONString or to modify the library as mentioned in #544

[2021-08-14 19:18] stleary commented on #520
I think the README has been re-written pretty much as needed. There is no TOC or quicklinks, but I think the essentials have been updated. Closing this issue.

[2021-08-14 19:18] #520 closed

[2021-08-14 19:40] stleary commented on #544
Wiki page added:
https://github.com/stleary/JSON-java/wiki/Tech:-How-to-complete-solve-specific-problems-in-your-JSON-Java-code#objects-in-collections-need-to-have-override-option-from-reflection-based-variable-detection

[2021-08-14 19:40] #544 closed

[2021-09-03 06:35] slawekjaranowski commented on #612
@stleary - kindly reminder you don't need to wait for next release for publishing public key ...

[2021-09-04 02:02] stleary commented on #612
@slawekjaranowski  Thanks, good point. The computer that holds the key is not accessible to me until mid-next week. Will take care of it then.

[2021-09-13 12:37] mjb-starleaf commented on #5
Was this issue fixed? If not, will it be? It's a correctness issue.

[2021-09-13 17:09] stleary commented on #5
@mjb-starleaf This issue should have been fixed. Parsing a JSON doc with null as an object value should store a JSONObject.Null instance for the null value.

[2021-09-19 14:14] stleary commented on #620
Closed due to an answer provided and no recent activity.

[2021-09-19 14:14] #620 closed

[2021-10-05 09:04] albertotn commented on #590
I'd like to be assigned on this issue, as part of hacktoberfest, if you can label it, thanks!

[2021-10-05 13:00] johnjaylward commented on #590
@albertotn usually we don't assign issues on this project. If you submit a pull request we can review and label that.

[2021-10-05 13:08] stleary commented on #590
@johnjaylward  There might be some Hacktoberfest requirements for the project maintainers. Let me read up on it, and get things set up tonight.

@albertotn Thanks for the offer, I will get the label added.

[2021-10-05 17:05] MagFra opened #624 "I have a little problem"
Can you please help me sort this out?
I keep getting a error massage.

[code]

[2021-10-06 01:26] #584 closed

[2021-10-06 02:10] stleary commented on #590
Registered with Hacktoberfest, label added, ready to go!

[2021-10-06 02:20] stleary opened #625 "Readme / contributing update marker"
Just opening (and immediately closing) this issue to note that I updated in the master branch the readme and added a contributing.md file to facilitate contributions for hacktoberfest 2021.

[2021-10-06 02:20] #625 closed

[2021-10-06 03:38] stleary commented on #624
Please post the errors you are seeing. Your code compiles and executes correctly for me.

[2021-10-06 10:21] MagFra commented on #624
Hmm...   Ok...
This simple program was created to illustrate a problem I got in a much bigger project I'm been working on, on and off for some time. The problem occurred when I, after taking a long pause, got back to it the other day. Immediately  the IntelliJ IDEA goes in to update all sorts of things. (Both it self, plug inns and project dependencies. (I use Maven to handle dependencies.))
Now t

[2021-10-06 16:53] stleary commented on #624
Not sure. What Java version are you using?

[2021-10-06 18:41] MagFra commented on #624
openjdk-14 java version "14.0.1"
SDK default (14 - Switch expressions)

[2021-10-06 18:48] MagFra commented on #624
I am thinking I might switch to a later version, sort of soon-ich. I would like to evaluate the impact first.

[2021-10-09 13:58] stleary opened #627 "Project should have a Code of Conduct"
See, for example,
[Setting up your project for healthy contributions](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/adding-a-code-of-conduct-to-your-project)

[2021-10-09 13:59] stleary commented on #627
This issue is being worked on by @loic5 in #626

[2021-10-09 14:02] stleary opened #628 "Updated pipeline.yml to fix CI build checks"
Looks like checks stopped working a few days ago. Needs investigation and fix.

[2021-10-09 16:02] stleary commented on #628
Looks like they are working now. I edited pipeline.yml on the master branch, replacing "ubuntu-16.04" with "ubuntu-latest".  However, the build won't take effect unless the updated pipeline.yml is in your local file set. Make sure you merge from remote master to your local branch before submitting changes, if you have forked JSON-Java earlier than 10/9/2021.

[2021-10-13 19:16] cushon opened #632 "Consider detecting cycles when constructing JSONObjects"
`JSONObject.populateMap` mentions that "the bean can not be recursive", and attempting to pass a recursive bean to `JSONObject` results in a `StackOverflowError`. The `StackOverflowError` can be hard to debug, because the stack trace is usually truncated before the frames that show where `new JSONObject(bean)` was called.

It might be worth detecting cycles when constructing `JSONObjects` to repor

[2021-10-14 17:19] stleary commented on #632
Sure @guptnis, please go ahead

[2021-10-14 21:56] stleary opened #635 "The README should include linux command examples"

[2021-10-14 22:02] stleary commented on #635
See #634

[2021-10-16 14:19] #635 closed, assigned to nobody

[2021-10-16 14:27] stleary opened #636 "Readme should be reorganized"
The readme has too much unrelated content.
These sections should remain:
Header (image, title, Maven links)
Overview
If you would like to contribute
Build instructions

These sections should be removed. Leave a copy of the section header, but add a line that links to the new .md file. See the *If you would like to contribute* section for an example of how to do this.
Notes: Extract content, move t

[2021-10-16 14:35] stleary commented on #632
@gdmanandamohon another developer is working on this issue, let's give him a chance to finish his work.

[2021-10-16 14:38] stleary commented on #636
@Ronqn Sure go ahead. The main readme should stay in the root directory, I think. But if you decide to put the new files and the other existing contributions file into a docs directory, that would be fine.

[2021-10-19 17:38] #628 closed

[2021-10-29 20:50] stleary commented on #627
Merged in #626

[2021-10-29 20:50] #627 closed

[2021-11-01 21:07] DavidKorczynski opened #641 "Integrate fuzzing into JSON-java by way of OSS-fuzz"
Hi!

I was wondering if you would be interested in getting JSON-java fuzzed by OSS-Fuzz? Fuzzing is a technique for stress-testing applications and OSS-Fuzz is a free service run by Google for fuzzing important open source projects, and it would be great to get JSON-java integrated with OSS-Fuzz. OSS-Fuzz will run the fuzzers continuously and report back with bug reports when bugs are found. These

[2021-11-02 16:45] stleary commented on #561
Issue resolved in #640

[2021-11-02 16:45] #561 closed

[2021-11-04 05:04] stleary commented on #641
@DavidKorczynski Sounds interesting. You can use jsonjava060@gmail.com to get started.

[2021-11-06 13:27] DavidKorczynski commented on #641
Thanks @stleary - the integration has now completed (https://github.com/google/oss-fuzz/pull/6733). You should receive notifications on your email if any issues arise. Thanks!

[2021-11-06 13:27] #641 closed

[2021-11-10 10:28] dginelli opened #642 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-15 20:27] Mk04477 opened #643 "How can my funds be trafer"

[2021-11-15 23:27] #643 closed

[2021-11-15 23:29] Mk04477 commented on #643
How can my funds be transfer

[2021-11-16 11:39] ranju-kv opened #644 "Incorrect key generated when creating JSONObject from a Java Object with fieldname having second character in upper case"
If you have a Java class which has a field with second character in upper case, then the key derived for that field is incorrect.

Example:
field name: iAmOk
getter method: getIAmOk

When new JSONObject(object) is used to generate a JSONObject representation of an object of above class, then the key for that field is derived as "IAmOk" instead of "iAmOk"

Looking at the JSONObject source code, the

[2021-11-16 14:43] johnjaylward commented on #644
You can override the property name generation using the `@JSONPropertyName` annotation.

The reason for the casing rule is that it's assuming that something like `getIAmOK` is actually an abbreviation like `getURL` where you probably don't want that converted to `uRL`.

In the history of the project, the rules for casing were made before the override annotation, and we've left it for backwards com

[2021-11-17 00:07] stleary commented on #644
Closed due to working as designed | workaround provided

[2021-11-17 00:07] #644 closed

[2021-11-17 00:09] stleary commented on #642
Thanks, but for this project, we can usually track down the cause of test failures.

[2021-11-17 00:09] #642 closed

[2021-11-18 17:51] grndvl1 commented on #213
Seeing this issue again its because this package name conflicts with other android json.  Only way around this is to download the jar and add it as a lib.  Or use jarjar and rename the package.  Might want to rename this package for the future

[2021-11-18 18:01] johnjaylward commented on #213
We will not be renaming this package as it's the originator of the namespace

[2021-11-18 21:22] stleary commented on #632
Closing this issue since a solution has been accepted. See #645

[2021-11-18 21:22] #632 closed

[2021-11-19 12:03] stleary commented on #213
Renaming the package is not on the table, but someone could look into upgrading the Android code to be compatible with JSON-Java.

[2021-11-21 21:59] Simulant87 opened #647 "Suggestion: Allow comments in parsed JSON"
Some projects like to read data from a JSON data store, where comments in the JSON can help humans to understand the data better. However the parser fails (correctly) when trying to parse from a json file, that contains comments, as it is not valid JSON.

A general question to answer first would be: Does the project want to be strict to the JSON definition and reject not compliant JSON files to be

[2021-11-22 15:41] Mk04477 opened #648 "Crypto make live easy"

[2021-11-22 15:49] #648 closed

[2021-11-22 16:10] johnjaylward commented on #647
I can't speak to it being accepted... but I will say, it won't be accepted if implemented poorly. In general JSON Parsers can be pretty lax, so I personally don't see an issue with having support to ignore, or even track comments in a given JSON input. Our parser is already not a "strict parser", so extending the parser to allow comments wouldn't be too far fetched, and it would closer match the G

[2021-11-22 17:45] bherw opened #649 "Suggestion: more helpful wrong-type errors"
Currently the exception just states that the value was the wrong type, for example:
[code]

It would be helpful if the exception told us what the type actually was as well. Was it null? JSONObject? something else?

[2021-11-24 15:52] stleary commented on #647
Support for comments seems to have done no great harm for YAML, but the person who wrote this package and also co-created JSON decided not to include them. For now, we lean towards his decisions. But keep in mind that ownership of this repo will change at some point, and then all kinds of decisions may be revisited.

[2021-11-24 15:52] #647 closed

[2021-11-24 15:53] stleary commented on #649
@bherw thanks for raising this issue. No objections if you want to try some type of implementation. More helpful errors are always welcome.

[2021-11-24 15:54] stleary commented on #624
Presuming this issue to be resolved since no activity has been logged recently. But feel free to post here if there are still problems.

[2021-11-24 16:06] johnjaylward commented on #624
this was actually fixed in a more recent commit than the submitter was using:
https://github.com/stleary/JSON-java/commit/75894086e59d3b6ec23e35825c468fde5618366b

Users version: org.json 20210307 (2021-03-07)
Fixed in 2021-04-27

@stleary , it looks like we need a new release published.

[2021-11-24 16:25] stleary commented on #624
@johnjaylward Thanks for catching this, will cut a new release in the next week.

[2021-11-24 16:51] johnjaylward commented on #614
Now that Java 17 is the new LTS version (java 11 still being in LTS support), Here are some highlights of features/improvements added to Java 12-17 that may be applicable to this project:

* Introduced with Java 12
    1. Switch Expressions and Pattern Matching
    2. Pattern Matching of `instanceof`
    3. Better GC performance for some use-cases
* Introduced with Java 13
    1. Text Blocks -> co

[2021-11-26 18:16] cushon opened #650 "Consider using IdentityHashSet for cycle detection"
The cycle detection introduced in #632 / #645 uses a `HashSet`, and detects if the object being serialized contains another object that is equal using `Object.equals`. This reports errors for objects where there isn't actually a cycle, but a contained object tests equal with an enclosing one, like in the following example.

Using `IdentityHashMap` instead of `HashSet` would detect actual cycles, b

[2021-11-27 01:12] cushon opened #652 "Cycle detection doesn't catch cycles through collections"
The cycle detection introduced in #632 / #645 doesn't handle cycles that involved collections. The following example still results in a `StackOverflowError`:

[code]

[code]

[2021-12-01 03:07] stleary commented on #650
@cushon Thanks for catching and fixing this.

[2021-12-01 03:07] stleary commented on #652
To be fixed in #651

[2021-12-01 03:46] johnjaylward commented on #652
@stleary this is a different issue than the one fixed in #651

[2021-12-01 03:55] stleary commented on #650
To be fixed in #651

[2021-12-01 03:55] #650 closed

[2021-12-04 09:27] slawekjaranowski commented on #612
@stleary - kindly reminder - be will possible for publishing your public key?

[2021-12-04 14:33] stleary commented on #612
@slawekjaranowski Thanks, I will try to get to it this weekend.

[2021-12-06 17:47] stleary commented on #612
Should be fixed with release 20211205

[2021-12-06 17:48] stleary commented on #624
Marking this completed with release 20211205

[2021-12-06 17:48] #624 closed

[2021-12-06 17:50] stleary commented on #595
I think this is fixed in #646

[2021-12-06 17:50] #595 closed

[2021-12-06 18:41] slawekjaranowski commented on #612
Version 20211205 can be verified - public key is available on key servers

[2021-12-06 18:41] #612 closed

[2021-12-08 17:12] jdiasamaro commented on #573
Hi @johnjaylward thank you for the `similar()` explanation. Indeed it is much better now.

However, I can only agree with @holgerbrandl in the sense that these JSON object and array should implement a stable equals/hashCode/toString.

Lots of platform types (for instance, collections) and also assertion libraries depend on a stable contract of equals/hashCode to handle equality.

For JSON arrays,

[2021-12-08 17:41] johnjaylward commented on #573
Our API contract that is shared with Android and maybe other implementations is that equals and hashcode are not implemented (uses base `Object`  `equals` and `hashcode`).

I don't see us changing this anytime soon unless it can be shown that other implementations that share the namespace/api (like Android) have also moved to implementing those methods.

[2021-12-08 18:14] stleary commented on #612
So glad to hear it's working!

[2021-12-08 18:16] jdiasamaro commented on #573
Hey! Thank you so much for getting back on this.

Not sure if I am looking into the correct Android source code location, but do you mean this? https://android.googlesource.com/platform/libcore/+/android-4.4_r1.1/json/src/main/java/org/json/JSONArray.java#607 (lines 607 - 614)

[2021-12-08 18:21] johnjaylward commented on #573
More accurately it would be here: https://android.googlesource.com/platform/libcore/+/refs/heads/master/json/src/main/java/org/json/

Due to licensing, we can not use any implementation details from that project. Or at least I'm not willing to get into that quagmire.

[2021-12-08 18:25] johnjaylward commented on #573
A quick look shows that Android is inconsistent in their implementation. It looks like `JSONArray.equals` is the only one implemented, and their `hashcode` implementation specifically notes that it diverges from our master (we are the "original")

[2021-12-08 18:27] jdiasamaro commented on #573
I see, is it for licensing reasons that the "original" can't be changed?

Indeed Android is inconsistent. I can't find the equals/hash on JSONObject.

[2021-12-08 19:15] johnjaylward commented on #573
for why we (likely) won't be changing the original, see the FAQ:
https://github.com/stleary/JSON-java/wiki/FAQ#how-do-you-decide-which-pull-requests-to-accept

At this point, the library is 12+ years old (10+ on github), changing the way hashcode/equals work would be a fairly major change in how the library works.

[2021-12-08 19:17] johnjaylward commented on #573
Licensing was not a concern for the change, only for sharing of implementation details. Android was brought up because it is the most widely known & used rewrite of this library, and we try to remain API compatible with it when possible.

[2021-12-08 19:38] jdiasamaro commented on #573
I understand. It makes sense. It might be breaking something somewhere.

Thank you so much for your help @johnjaylward :)

[2021-12-09 22:23] ejoncas-rivalbet opened #653 "optLong vs getLong inconsitencies"
Hi there,

We found a problem today where we stopped using `getLong(String)` and started using `optLong(String)` as it doesn't throw exception.

The problem is that there are inconsistencies between the two methods in regards on how they treat "numbers as strings". I know this is not the intended case but our mobile-app was sending strings when we expected numbers and everything was working well w

[2021-12-10 15:08] stleary commented on #653
Thanks, @ejoncas-rivalbet for bringing up this issue, investigating.

[2021-12-10 21:48] johnjaylward commented on #653
@ejoncas-rivalbet , just to be sure I understand you correctly, you believe that `optLong` is correct, while `getLong` is wrong, correct?

To be honest, I'm a little surprised that your first test passes. I would have expected the parser to process that as octal, which would be `668` in decimal.

[2021-12-10 22:10] johnjaylward commented on #653
hmm, I'm reading the javadocs on the parsers, and I'm not seeing a reference to the "leading 0 means octal" as noted in our comments. From what I can tell, all the string -> number parsers seem to process as decimal unless using the overload with the radix.

@stleary , if we don't have it already, we should include tests which process various number formats (hex, scientific/exponent, floating poin

[2021-12-10 22:21] johnjaylward commented on #653
The JSON spec does not allow leading zeros on a number:
https://www.ietf.org/rfc/rfc4627.html#section-2.4

so I'm going with `optLong` being "more correct" than `getLong`

[2021-12-12 23:01] ejoncas-rivalbet commented on #653
@johnjaylward `getLong` is correct for me. We could argue wether this library is supposed to parse a string to a number when the developer is explicitly asking for a Long on a field that is type string.

But since it does it, I believe getLong does it well where as `optLong` just fails. As you can see optLong works in "some cases" where as getLong works in all cases.

The JSON spect does not allow

[2021-12-13 09:39] ZanderHuang opened #654 "java.lang.StackOverflowError in `org.json.JSONTokener.nextValue::JSONTokener.java:431` json-java 20210307"
# java.lang.StackOverflowError in `org.json.JSONTokener.nextValue::JSONTokener.java:431` json-java 20210307

This vulnerability is of java.lang.StackOverflowError, and can be triggered in latest version json-java (20210307).
It is caused by triggering infinite recursive function calls under crafted user input file and can be used for attackers to launch DoS (Denial of Service) attack to exhaust th

[2021-12-13 12:48] johnjaylward commented on #654
Please include any POC code in the issue and not as a separate download.

[2021-12-13 12:49] johnjaylward commented on #654
Also, do not send in zip files. Send uncompressed files only

[2021-12-13 15:55] ZanderHuang commented on #654
@johnjaylward The test program is as below:
[code]

The poc file is in binary so I canot just simply paste it here.
You can download the single file from the link below:
https://drive.google.com/file/d/1Q45fXzDOWMqIAhNyaLKyoKDaNePi5THz/view?usp=sharing

[2021-12-13 16:05] johnjaylward commented on #654
Sorry, I'm not interested in downloading random binary files. If you can make a simple test input as a text file, that would be best.

[2021-12-21 22:36] stleary opened #657 "Unit tests should check various number formats"
Unit tests should check various number formats (hex, scientific/exponent, floating point hex, octal, standard decimal) and make sure we have coverage. Checks should be performed when parsing JSON documents and when calling functions like getLong() and optLong().

[2021-12-21 22:59] stleary commented on #653
I think there are reasonable arguments for both sides. I don't think either JSON spec covers accessor functions, so this implementation is free to choose how to support get and opt functions. `optLong()` used to call `getLong()` in a try block, but recently it was changed to call `stringToNumber()` instead. Other numeric `opt*()` functions may have similar changed behavior.
Example of original beh

[2021-12-23 20:30] lvca commented on #571
I'd like to propose a design that is minimally invasive and allows the support of custom Map implementation (like LinkedHashMap to have insertion ordered entries).

The rationale behind using this approach was:
- I like to keep `map` property final for a lot of reasons, and replacing the internal map after the default instantiation of the HashMap was overkill
- I couldn't use `JSONObject(Map)` con

[2021-12-31 16:04] stleary commented on #654
Closed due to lack of response.

[2021-12-31 16:07] stleary commented on #653
This issue is available for someone to work on. Whatever solution is selected, `optLong()` and `getlong()` should parse input in the same way. Other `opt*()` and `get*()` methods should be checked and fixed as needed.

[2022-01-11 01:30] shawnhe opened #659 "JSONArray(String source) is not throwing exception when input string is not a json array."
example:

JSONArray("[A][B] C");

doesn't throw an exception.

[2022-01-11 15:59] johnjaylward commented on #659
Correct. You should get a JSONArray with a single string element of "A". The rest of the input is ignored.

[2022-01-12 01:40] stleary commented on #659
Closing since this is how the code was designed to work.

[2022-01-12 01:40] #659 closed

[2022-01-17 10:28] Vikasgupta09 commented on #463
@strkkk , @stleary I am facing same issue with one json object randomly. I have ensured that json object is not changing but there are other libraries in project that might impact the functionality. I am using version 20180813. Is this version specific issue? Do you recommend updating to another version?

Here are few logs:
Handling org.json.JSONException: Expected a ',' or ']' at 116718 [characte

[2022-01-18 17:57] lvca commented on #571
Any news on this? Just checking.

[2022-01-21 16:12] abimarank commented on #653
@stleary I would like to provide the fix.

Was there any reason to change from calling `getLong()` to `stringToNumber()`?

[2022-01-21 16:43] johnjaylward commented on #653
`stringToNumber` choice was to make number parsing more consistent across different number types (int, long, float, double, etc).

Rereading the discussion here, I'm leaning towards modifying the `stringToNumber` implementation to properly parse numbers with leading 0's (trim the 0's off).

It also looks like `stringToNumber` may not handle numbers that looks like `.1234`. Seems that it expects nu

[2022-01-21 16:53] johnjaylward commented on #653
also to note, for android compatibility, the code changes for "stringToNumber" will need to be copied to the `XML` class

[2022-01-26 15:16] Han0nly commented on #654
Hi @stleary, I'm the collaborator of @ZanderHuang. Sorry for the late reply. Here is the POC code which makes the test input as a base64 text. Can you reopen this issue? Thank you!

[code]

[2022-01-26 15:21] johnjaylward commented on #654
Thank you for the test input. I'll take a look at this.

[2022-01-26 17:45] stleary commented on #654
Re-opened

[2022-01-27 05:30] Han0nly commented on #654
Hi @johnjaylward , are you willing to help us to request a CVE ID through [GitHub Security Advisories](https://github.com/junrar/junrar/security/advisories) for this bug, which can cause Denial of Service. You can follow [this tutorial](https://authzed.com/blog/using-github-to-manage-your-first-cve/) to use it to manage your bug fixes and alert any downstream dependencies of the issue so they can

[2022-01-31 14:54] #654 closed

[2022-02-18 08:56] rhoehener opened #664 "Why are semicolons accepted as key/value-pair separators?"
Is this on purpose? It's been there since the initial commit: https://github.com/stleary/JSON-java/blame/master/src/main/java/org/json/JSONObject.java#L271

[code]
Prints 12

[2022-02-18 09:13] rhoehener commented on #664
https://github.com/stleary/JSON-java/blame/master/src/main/java/org/json/JSONObject.java#L273 also accepts (ignores) trailing commas and semicolons.

[code]

[2022-02-19 01:58] stleary commented on #664
Yes, I think you are referring to something like #556

[2022-02-21 15:37] #664 closed

[2022-02-21 15:41] rhoehener opened #666 "DEL control character (0x007F) is not escaped"
https://github.com/stleary/JSON-java/blame/master/src/main/java/org/json/JSONObject.java#L2080

[code]

[2022-02-21 15:56] johnjaylward commented on #666
Thanks, this does look like a bug. Please feel free to post a PR.

[2022-02-21 15:59] johnjaylward commented on #666
adding an additional ` || java.lang.Character.isISOControl(c)` to the `if` should be sufficient. Jhe function was added in 1.5 so it should be available for all our supported platforms.

[2022-02-21 16:03] johnjaylward commented on #666
or better may be to just replace the first 2 check with that function, so the new `if` would look like:

[code]

[2022-02-21 16:23] rhoehener commented on #666
- or copy the (optimized) implementation of Character.isISOControl(int)
- or use Character.isISOControl((int) c) (to save one method call)

[2022-02-21 17:04] johnjaylward commented on #666
I would prefer the `Character.isISOControl((int) c)` call over the copy/paste so any future changes to the call would be available on a JVM update.

[2022-02-21 20:45] alexisml opened #667 "Creating JSONObject from Map vs String misses null values"
If we create a `JSONObject` from a string containing `null` values, those are parsed internally as `JSONObject.NULL` [see 1]. However, when creating a `JSONObject` from a `Map`, `null` values are ignored [see 2].

This is a problem since we have an inconsistency. Either both cases ignore nulls (this wouldn't represent reality), or both convert Java nulls to `JSONObject.NULL`.

1: https://github.co

[2022-02-21 21:05] johnjaylward commented on #667
This is as-designed.

When parsing a `String`, we are parsing actual JSON where `null` is a value.

When transforming a `Map`, in Java, `null` means "no value" which is similar to `undefined` in JavaScript. The author of this library made the conscious choice to treat Java `null` like JavaScript `undefined`.

Whether or not that was the best choice is a little late for this project as it would be

[2022-02-21 21:14] alexisml commented on #667
Thi is completely understandable. However, I still believe it could be solved, maybe by using a second parameter indicating to threat nulls as Json nulls... (just an idea).

Regarding...

...this is not _exactly_ true: since there's still a key in the `Map` for that value, and all methods regarding `Map`s threat that as an explicit `<key, null>` entry.

[2022-02-21 21:18] johnjaylward commented on #667
Java is a strongly typed language and `null` does not have a type. A variable assigned `null` has no value as it's un-typed.

JavaScript is an un-typed/loosely-typed language, so `null` is an actual value.

[2022-02-25 16:30] ErrorxCode opened #669 "Cannot be used in android studio !"
Since both android.jar (Android framework)  and org-json.jar (This library) have the same package "org.json", We can't use this library in android studio. If we import `import org.json.JSONObject` then the android implementation is imported which cannot be used in a non-android platform. The only way to fix this is to **change the package name** of the library.

I have made a copy of this jar with

[2022-02-25 17:54] johnjaylward commented on #669
no. please see the [Wiki](https://github.com/stleary/JSON-java/wiki/JSON-Java-for-Android-developers). We are not changing this project package.

[2022-02-26 03:35] stleary commented on #669
I believe this project was the original org.json package.

[2022-02-26 03:35] #669 closed

[2022-03-07 07:57] gqqnbig opened #670 "Documentation on JSONPropertyIgnore doesn't show on the website"
In https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONPropertyIgnore.java  the class has documentation, but the docs doesn't show on the website http://stleary.github.io/JSON-java/org/json/JSONPropertyIgnore.html.

Can it get fixed?

[2022-03-09 02:24] stleary commented on #670
Thanks @gqqnbig I will look into it. Not sure why the JavaDocs are not showing up.

[2022-03-21 15:02] jacekpodgorz opened #672 "Getter for org.json.JSONArray::myArrayList"
Please add getter to "myArrayList" field in JSONArray.
It will allow further self-processing without the need to use "toList".

[2022-03-21 15:06] johnjaylward commented on #672
There is no reason for us to expose the back end data types used and would limit us possibly changing the implementation in the future if a better option presents itself.

[2022-03-21 15:12] johnjaylward commented on #672
What are you trying to accomplish? Perhaps there is a better way to do what you want without exposing the internals?

[2022-03-21 15:31] jacekpodgorz commented on #672
Thank you for your answer.

I create Array:
`[{" x ": 1}, {" x ": 2," y ": 2.5}, {" x ": 3}]`
the variable "myArrayList" is "ArrayList <JSONObject>".

If use method "toList()" I get an "ArrayList <HashMap>".

The variable is garbled. Working on JSONArray using "toList", I will always get a new object.

It would be helpful to download "Stream".

[2022-03-21 16:02] jacekpodgorz commented on #672
Thank you for your answer.

I understand the objections. I am using old code for this library which has been rewritten previously. Performs multiple operations on "myArrayList" such as sorting. The library was not "Iterable". I want to use the current via Maven.
Thank you for your help. Regards and I close.

[2022-03-21 16:02] #672 closed

[2022-03-21 16:17] johnjaylward opened #673 "[RFC] Implement custom iterator for JSONArray to ensure fetched values are JSON compliant"
This has been a "known" issue for some time, but as mentioned in #672, the `JSONArray.iterator` method is exposing the raw values from the backing array instead of JSON-compliant values.

We should do 1 of 2 things:

1. Implement a private/internal `JSONArrayIterator` class that would ensure any fetched values are properly "wrapped" and thus suitable output to JSON processors.
2. Update all of our

[2022-03-21 16:39] Chew opened #674 "Suggestion: JSONArray#toList(class)"
The current `JSONArray#toList()` converts the array to a list of Object. This makes things a little tough to work with.

When, for example, you have a list of typically JSON Objects or Strings, you have to do something like this:

[code]

I wrote a function that implments this, but I'm not too Java experty to know if it's ideal:

[code]

It's a little messy but it essentially casts each item in th

[2022-03-21 17:31] johnjaylward commented on #674
personally, I wouldn't bother with toList at all in your use-case though. as in #672, I would just use the spliterator to get a stream and continue to use the Map option like you do:

[code]

Using `toList` defeats the purpose of using a stream in the first place which is to prevent creation of extra object (in this case an entire array).

[2022-03-21 17:34] johnjaylward commented on #674
if you want to make that as a helper method, it would look something like this:

[code]

[2022-03-22 02:05] stleary commented on #674
@Chew No objections if you would like to submit a pull request. Please make sure the code either handles exceptions has a language supported workaround. Keep in mind the project's Java version requirement: [What version of Java does this project require?](https://github.com/stleary/JSON-java/wiki/FAQ#what-version-of-java-does-this-project-require?)

[2022-03-22 02:19] stleary commented on #673
Option 1 sounds easier/more straightforward. My concern is whether this might change behavior in a way that could break someone's existing code. If so, then not all issues have to be fixed. But if you think I am missing something in your proposal, let me know.

[2022-03-22 02:20] stleary commented on #670
Haven't forgotten this, just haven't had time to track it down. Will try to find time before end of the week.

[2022-03-22 02:28] gqqnbig commented on #670
Thanks for the update. Take your time buddy.

[2022-03-22 02:32] johnjaylward commented on #673
I agree it's possible it's a breaking change, but the way the `put` methods work today, my guess is that fixing this would likely simplify any code that is using it. My thought is that they wouldn't need as much conditional handling (i.e. am I going to get a `Map` or a `JSONObject` this time?)

My guess is that this would fix more code than it hurts, but that's just based on how I use the library.

[2022-03-25 01:32] #649 closed

[2022-03-25 08:15] dushaniw opened #676 "Backward compatibility of upgrading to latest release 20220320 from release 20140107."
Hi,
We have been using JSON-java library version 20140107 so far (since 2014). Recently we discovered a vulnerability reported which is also mentioned in https://github.com/stleary/JSON-java/issues/654 (java.lang.StackOverflowError in org.json.JSONTokener.nextValue::JSONTokener.java:431 json-java). We noticed that this has been fixed in recent release 20220320.

As we have been using the 20140107

[2022-03-25 13:14] stleary commented on #676
@dushaniw Maintaining backward compatibility has been a priority since 2015, and before I got here, Douglas did not allow very many changes, either. I cannot guarantee there are no breaking changes, but let me know if you run into any issues and I will see if they can be mitigated. The 20140107 release predates my arrival, I am not sure how you could go about recovering the source other than decom

[2022-03-25 13:24] johnjaylward commented on #676
From the repo, the best I could give you for that release is the approximate commit:
https://github.com/stleary/JSON-java/commit/4d86b05d3c6a72e88c476430d60676f9ae2fafab

That commit is from Nov 2013, and there are no commits after that until April 2014. Seems very likely that all code in that commit is part of the 20140107 release.

https://github.com/stleary/JSON-java/commits/master?before=6f92a

[2022-03-28 02:00] dushaniw commented on #676
Thank you @stleary  and @johnjaylward.

[2022-04-06 05:45] #676 closed

[2022-04-28 15:57] jjanczur opened #677 "JSON CDL is omitting last row when parsing CSV with an empty last column"
I was playing with parsing CSV files into JSON using CDL library from org.json.CDL and I observed a strange behavior.

When I pass a CSV with an empty last value to the toJSONArray method, it's omitting the last row.

[code]

It's failing as well for that String:

[code]

Do you have any idea how can I fix it? For learning purposes, I'd prefer to stick to this library and just fix it codewise. I w

[2022-04-28 16:15] johnjaylward commented on #677
is it an empty "last value" or is it the missing new line `\n` causing the issue?

For example, does the following data work:

[code]

[2022-04-28 16:35] jjanczur commented on #677
Hi @johnjaylward,
When I add a new line CDL parses correctly, but CSV not necessarily needs to end with a new line, doesn't it?

[2022-04-28 16:39] johnjaylward commented on #677
I'm not sure about CSV specifically, but here is a good answer for text files in general:
https://unix.stackexchange.com/a/18789

[2022-04-28 16:41] johnjaylward commented on #677
looks like CSV itself is lose on the ending new-line: https://www.csvreader.com/csv_format.php

Feel free to submit a PR for a fix

[2022-04-28 16:43] johnjaylward commented on #677
The JavaDoc for the CDL class does specify that every row ends with a NEWLINE. So if you do make a change, please be sure to update any relevant JavaDoc as well.

[2022-04-28 18:23] jjanczur commented on #677
I found as well that the test emptyLinesToJSONArray doesn't check anything because last row in str is omitted so it ends up being a case of a CSV with only header row = empty JSON:

[code]

The correct test should have at least 3 rows and yes it's failing so this functionality was never implemented.

I think I need some access rights to create a branch:

Quick fix was to add additional check if th

[2022-04-28 21:41] johnjaylward commented on #677
This is actually validating the case that you initially brought up in this ticket. That a "row" with no `\n` at the end doesn't get processed. The test is currently correct as expected behaviour of the CDL class.

The standard model in GitHub is to create a Fork
![image](https://user-images.githubusercontent.com/383703/165849994-9be0162d-f133-44ce-ba84-8fb1e4a65eee.png)
 of a project, make changes

[2022-04-30 14:50] stleary opened #678 "> JSONObject(Map): Throws NPE if key is null"
A bit late here, but I would consider throwing an exception for an input that used to be accepted a breaking API change. In my company's codebase we had some tests that verified this behavior that were broken as a result, and a currently unknown amount of code that could actually be depending on this behavior.

Obviously this ship has already sailed (and rejecting null keys makes much more sense),

[2022-04-30 14:51] stleary commented on #678
I think it would be helpful to have a Breaking Changes section or page that includes the above comment. Will look into it.

[2022-06-09 10:46] whistlingdogg opened #679 "JSONTokener is too lenient"
Parsing of unquoted strings into a JSONObject using a JSONTokener is too lenient. It will allow the following:

{ "requestofsomesort": { "id": thisstringshouldbequoted }}

Using something like Everit to validate the schema then incorrectly reports that the json is compliant. I understand that the documentation states that the JSONObject can accept this sort of thing but this causes problems.

http

[2022-06-10 00:41] stleary commented on #679
Lenient parsing has been part of this application from the beginning. If you want to propose a code change for an optional strict parser mode, feel free to go ahead. However, it must not have any effect on existing users unless they opt-in.

[2022-06-10 23:45] thewh1teagle opened #680 "JSONObject.getString(...) custom exception"
Hello there...
What a great library. thank you.
I would like to get the key name when the exception throws so I can use the key to response to the client with custom message about this missing key.
How can I done that?
thanks in advance.

[2022-06-11 15:37] stleary commented on #680
What method are you calling?

[2022-08-02 11:07] Aleksey2093 opened #681 "HashMap to LinkedHashMap"
https://github.com/stleary/JSON-java/blob/6f92a3ab4e425123c4b1ac2b8b65a7d9fb1d9bcb/src/main/java/org/json/JSONObject.java#L187
https://github.com/stleary/JSON-java/blob/6f92a3ab4e425123c4b1ac2b8b65a7d9fb1d9bcb/src/main/java/org/json/JSONObject.java#L299
https://github.com/stleary/JSON-java/blob/6f92a3ab4e425123c4b1ac2b8b65a7d9fb1d9bcb/src/main/java/org/json/JSONObject.java#L301
https://github.com/

[2022-08-02 11:11] Aleksey2093 commented on #681
Now we use
[code]
but it's slow and wrong

[2022-08-04 20:20] spaffrath opened #682 "The "similar" methods do not accurately compare JSONString objects"
A JSON object or array that contains a value of type JSONString will never register as "similar" to another object or array that contains an equivalent JSONString. Given that JSONString has a single function that returns a string, and that the string representation of that json will always be the same, the `similar` method should evaluate them to true.

To demonstrate, these are couple of tests th

[2022-08-04 20:23] spaffrath commented on #682
This is a couple of lines in each `similar` method. If the change is agreed on, then I'll do a PR.

[2022-08-05 01:27] stleary commented on #682
@spaffrath Thanks, sounds like this might be a bug that should be fixed. OK to submit a PR.

[2022-08-10 17:23] satish11111 commented on #490
i am getting dont know what to do

[2022-08-11 00:16] stleary commented on #490
Hi @satish11111 can you provide more context on what is going wrong?

[2022-08-15 12:27] Anna-Stepancheva commented on #681
I have the same problem

[2022-08-18 16:34] stleary commented on #681
PRs will be accepted and approved for this change. The requirements will be that the app must use the existing HashMap by default but can be configured or executed to run in a mode that uses a LinkedHashMap instead. The new mode should only use LinkedHashMap, and never use HashMap. I will come up with a suitable test suite for validation.

[2022-08-23 16:39] douglascrockford opened #686 "Public Domain"
I think it is time to remove all license restrictions and copyrights and put the package into the Public Domain. So in all files, replace

/*
 Copyright (c) 2002 JSON.org
 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the r

[2022-08-23 16:54] stleary commented on #686
Hi Douglas,

Will do! - Hope you are doing well.

Best regards,
Sean

On Tue, Aug 23, 2022 at 11:40 AM Douglas Crockford ***@***.***>
wrote:

[2022-08-23 23:02] douglascrockford commented on #686
Thank you for everything you have done. I do appreciate it.

[2022-08-23 23:02] #686 closed

[2022-08-24 13:31] stleary commented on #682
This issue is now being tracked by #683

[2022-08-24 13:31] #682 closed

[2022-08-24 13:32] stleary commented on #680
Closed for lack of activity

[2022-08-24 13:32] #680 closed

[2022-08-24 13:33] stleary commented on #679
Closed due to Works as Designed.

[2022-08-24 13:33] #679 closed

[2022-09-20 18:27] vlOd2 opened #689 "JSONObject.optString()/getString() removes all spaces from actual value"
JSONObject.getString() removes all spaces from actual value
I provided a sample of my code that retrieves the values using optString() (getString() had the same result)

How my config system works:
Pretty much the values are stored/loaded from a class with static values (this makes it easier since I also have a plugin system, and also so I can provide default values)

I have no clue why it doesn't

[2022-09-25 17:55] stleary commented on #689
@Test
    public void test() {
        String key = "chatInvalidCommandMsg";
        String value = "&cInvalid command! See &b/help&c for help";
        JSONObject jsonObject = new JSONObject();
        jsonObject.put(key,value);
        String resultOpt = jsonObject.optString(key);
        String resultGet = jsonObject.getString(key);
        assertEquals(resultOpt, value);
        assertEquals(r

[2022-09-29 15:00] vlOd2 commented on #689
I think I know what it is, its the way I read the file?

On Sun, Sep 25, 2022, 20:55 Sean Leary ***@***.***> wrote:

[2022-10-02 11:42] Mykiiii commented on #681
Hi @stleary  , Kindly assign this to me

[2022-10-02 13:17] stleary commented on #681
Assigned to @Mykiiii

[2022-10-02 17:17] Rajat-Sharma1710 commented on #681
hi @stleary, I can work on this, kindly assign it to me.

[2022-10-05 09:47] DeaneOC commented on #593
I am going to look into this.

[2022-10-06 02:56] Avimathu commented on #593
Hi! I am going to look into this issue

[2022-10-08 02:57] skullkim commented on #678
I would like to work on this issue.

[2022-10-11 10:30] ilmagowalter opened #695 "XML.toJSONObject - xml content trimmed"
when create a JSONObject from XML String like

`<?xml version="1.0" encoding="utf-8"?><tagA>  :  </tagA>`

spaces at then begin and at the end of string are trimmed

[code]

output
[code]

is possible add a parameter to avoid trimming ?

i think that method involved is nextContent() of XMLTokener.java

[2022-10-13 02:46] iashok22 commented on #695
@ilmagowalter , is there any reason why do we need to retain trailing/beginning spaces?

[2022-10-13 05:45] ilmagowalter commented on #695
i'm facing this use case

i receive a xml file with field like
`<tagA>  :  </tagA>
`
this tag is defined in xsd schema like

[code]
so the parsed is succesful; i work with this file, trasform to json and store on nosql database.
One of possibilities is export data to xml again; so...if i store in json
`{"tagA": ":" }
`i will export
`<tagA>:</tagA>
`
and with this element the parse with xsd fail; i

[2022-10-13 08:22] iashok22 commented on #695
@ilmagowalter  Thanks for the details.

@stleary Can I add a new method to retain spaces in the string while parsing?

[2022-10-13 09:42] ilmagowalter commented on #695
maybe the parameter have to be added in this method

public static JSONObject toJSONObject(String string, boolean keepStrings)

[2022-10-14 02:21] stleary commented on #695
The easiest fix is to wrap the " : " content in a CDATA section.

If that is not possible, you can try adding a flag to `XMLParserConfiguration`. This class is the preferred mechanism for special cases in XML parsing. The code might then look something like this:
[code]
Then you will also need to update `XMLTokener.nextContent()` and pass in the config object or at least the flag.
JSONML uses this

[2022-10-14 06:07] ilmagowalter commented on #695
to test only nextContent() method i make this change
[code]
and seems works, but,..
in my project ( not writed by me ), before calling XML.toJSONObject, i have a trasformer (
this.transformer = TransformerFactory.newInstance().newTransformer();
) that trasform Node to xml to

[code]
the output is

`{"CodiceRegione":"\r\n    190"}
`
unfortunatly the real origin tag was <CodiceRegione>190</CodiceReg

[2022-10-14 10:33] omasseau opened #697 "Why is JSONObject(int initialCapacity) protected and not public ?"
Hello,

Is there any reason why JSONObject(int initialCapacity) is protected and not public ?
When building a JSONObject from scratch it would be nice to be able to provide the initial capacity for improved performances.

[2022-10-14 16:02] stleary commented on #697
@omasseau how much of a performance improvement will this provide?

[2022-10-15 14:11] stleary commented on #695
Character.isWhitespace() filters more than just the space char.
See https://www.geeksforgeeks.org/character-iswhitespace-method-in-java-with-examples/
You could try retaining the call to isWhitespace() while allowing space chars that are contiguous with the content.
For example, This string contains 8 whitespace chars at the beginning and end: " \r\n : \r\n "
But the parsed string should only cont

[2022-10-16 13:07] Okeanos opened #698 "Question regarding GitHub Actions pipeline definition"
I had a look at the pipeline definition and I am somewhat confused at the fact that especially the Java 1.6 build works as expected.

I would have expected a `actions/setup-java@v3` task with the following inputs in place of what currently exists:

[code]

As far as I can currently tell no `setup-java` distribution vendor offers `1.6` as version. The only Java 6 (1.6) version available I could fin

[2022-10-17 21:13] labkey-tchad commented on #667
This design does not seem internally consistent.
I think it would be reasonable to expect `JSONObject.toMap` to be the inverse of `new JSONObject(Map)`.

`new JSONObject("{k:null}")` includes the null-valued entry
`new JSONObject("{k:null}").toMap()` includes the null-valued entry
`new JSONObject(new JSONObject("{k:null}").toMap())` drops the null-valued entry

[2022-10-20 01:36] hendrixjoseph commented on #652
I have a fix for this (plus a unit test), as well as a couple other locations this might still be happening. I'll try to make a PR tomorrow.

Can you assign me please? Thank you.

[2022-10-21 00:18] stleary commented on #698
@Okeanos I am not sure, but will take a look when time permits. There are no plans to make changes to the build pipeline at this time.

[2022-10-21 06:40] Avimathu commented on #545
Hi, I would want to take up this issue, but may you please elaborate the issue? It's still unclear that do we need to update the existing parsing of XML or do we need to add a file for paring XML. Thanks in advance!

[2022-10-22 00:45] stleary commented on #545
@Avimathu This is not a code issue, XML parsing is already supported. The idea here is to create a new file docs/XML.md that explains how to use the XML parsing objects, the tradeoffs made, and how to work around them.
From your comment, it sounds like you want to write code. If that is the case, another issue might be a better match.

[2022-10-22 13:30] stleary commented on #678
@TomerPacific This is a documentation issue.
docs/RELEASES.md should include text when potentially breaking changes are introduced.
In this issue, #405 was updated to throw an NPE from JSONObject(Map), and was released in [20180813](https://github.com/stleary/JSON-java/releases/tag/20180813). I have already updated the releases page, but the corresponding entry in RELEASES.md should have a similar

[2022-10-27 03:25] BIngDiAn-s opened #700 "JSONArray.put(index,value) may lead to OOM if the index is a biginteger"
for example：

[code]
<img width="963" alt="image" src="https://user-images.githubusercontent.com/32029400/198184029-e8888237-9967-477f-8dd4-b315eacf7a91.png">

[2022-10-27 03:38] johnjaylward commented on #700
Yes, that's expected behavior. It's not a sparse array

[2022-10-27 03:48] BIngDiAn-cn commented on #700
But it is not suitable to expand array space in put method

[2022-10-27 04:08] johnjaylward commented on #700
so you want an index out of range exception instead?

[2022-10-27 04:13] johnjaylward commented on #700
The javadoc is very clear that the memory is expanded in the JSONArray for ANY of the `put` operation. Non-indexed `put` all document that the memory is expanded by 1, while the indexed `put` in your sample code clearly states that memory is padded for any missing elements.

https://github.com/stleary/JSON-java/blob/master/src/main/java/org/json/JSONArray.java#L1030

[2022-10-27 07:32] BIngDiAn-cn commented on #700
But i think an index out of range exception is better than expand space in put  method 。The design of the put method is inappropriate

[2022-10-27 09:10] BIngDiAn-cn opened #701 "If the value in map is the map's self, the new new JSONObject(map) cause StackOverflowError"
poc as follw:

 Map<Object,Object> a=new HashMap<>();
        a.put(" ",a);
        JSONObject A=new JSONObject(a);
`

[2022-10-27 22:00] Chealer opened #702 "Unclear relevance relative to other JSON libraries (particularly javax.json)"
Our team needs to receive and send JSON and wants to use a JSON library to facilitate that. org.json provides org.json.JSONObject while [javax.json-api](https://mvnrepository.com/artifact/javax.json/javax.json-api) provides javax.json.JsonObject. The purposes of both libraries are clearly similar, and while there are obvious differences like licencing (this one is public domain), it takes time for

[2022-10-28 09:50] TomerPacific commented on #678
@stleary, I opened a PR for this.

[2022-10-30 16:50] niranjanib commented on #670
Hi @stleary, I've raised PR #704  to fix this issue happening in both `JSONPropertyIgnore` and `JSONPropertyName` classes.

This doesn't affect the source code execution, I've only rearranged Javadoc comments to the start of the interface definition. Please review and let me know if there is anything to be changed :)

Thanks!

[2022-11-05 22:38] #670 closed

[2022-11-05 22:39] #678 closed

[2022-11-07 08:56] BIngDiAn-cn opened #705 "Uncaught exceptions,java.lang.NumberFormatException, in new JSONObject(String)"
POC as follow:
`public class POC {
    public static void main(String[] args) throws JSONException {

        JSONObject jsonObject=new JSONObject("{'a\\u':'\b\\\\\'}");

    }
}`

[2022-11-07 09:09] BIngDiAn-cn commented on #705
<img width="896" alt="image" src="https://user-images.githubusercontent.com/32029400/200271235-7177ea66-d2b4-4654-8ce7-62a1abb93d5d.png">

[2022-11-10 08:38] kk-zu opened #706 "License change request"
@douglascrockford

The license was changed to "Public Domain" in PR #688. However, the meaning of "public domain" is a bit ambiguous (e.g. "public domain" is not defined in the law of Japan.)
So users can't judge whether they can use JSON-java or not. I guess that it opposes your intention.

To resolve this problem, could you change the license to 0BSD or MIT-0? Or could you agree to change the li

[2022-11-17 13:12] BIngDiAn-cn opened #708 "XML.toJSONObject may lead to StackOverflowError which may lead to dos when parses untrusted xml: CVE-2022-45688"
Poc code as follow:
[code]

and the. result:
<img width="872" alt="image" src="https://user-images.githubusercontent.com/32029400/202455618-ee36c463-aa67-4b9d-bd0a-1af961fe235e.png">

[2022-11-18 01:19] stleary commented on #689
Closed due to lack of activity.

[2022-11-18 01:19] #689 closed

[2022-11-18 01:22] stleary commented on #666
Closed due to lack of activity.

[2022-11-18 01:22] #666 closed

[2022-11-18 01:23] stleary commented on #657
Merged in #691

[2022-11-18 01:23] #657 closed

[2022-11-18 01:25] stleary commented on #605
Closed due to lack of activity.

[2022-11-18 01:25] #605 closed

[2022-11-18 01:27] stleary commented on #563
Closed due to lack of activity.

[2022-11-18 01:27] #563 closed

[2022-11-18 04:55] aditya-kumbhar opened #709 "The test testToJSONObject_reversibility() in JSONMLTest is flaky"
The test testToJSONObject_reversibility() in JSONMLTest is found to be flaky using the [NonDex](https://github.com/TestingResearchIllinois/NonDex) tool.
The reason is that two JSON objects are being compared for equality but the order of the elements in the constructed JSONs is not deterministic, hence the objects should only be compared for similarity and not for equality.

NonDex error log:
[cod

[2022-11-19 17:59] stleary commented on #709
@aditya-kumbhar I think the test needs both asserts. One checks object similarity, and the other checks string equality. The assertEquals() is arguably more critical than the assertTrue(). I am not sure that NonDex is adding value by flagging this test.

[2022-11-22 03:12] javadev commented on #706
MIT ➕

[2022-11-25 16:19] richastral opened #710 "Escaping string - can it be switched off?"
Hi,

I have identified an issue with string escaping. The JSONObject by default escapes strings and cannot be switched off, in particular, my use case of a path in the JSON.

**Example:**
[code]

I have noticed that in JSONObject, the quote(String string, Writer w) method has the following:

[code]

Is there any way prevent this happening? I cannot see any?

I am thinking of creating a pull reques

[2022-11-26 10:11] javadev commented on #710
Json

[code]

may be converted to xml

[code]

[2022-11-26 10:41] richastral commented on #710
Thanks for your response, and sorry for my ignorance, but can you please explain further, does this solve my issue?  The output has to be JSON.  Are you saying set the attribute in the map to the XML, doesn't seem right to me?

[2022-11-26 11:23] javadev commented on #710
@richastral xml value the same how it may be stored in  map.

There is escaping in json and real value in xml.

[2022-11-26 14:09] johnjaylward commented on #710
This is working as it should per the spec.

[2022-11-26 14:32] richastral commented on #710
@johnjaylward Thanks for the clarification.

Seems a bit strange that the same string inserted is not the same as the string returned.  But I understand why it is done.

In the application which is consuming the JSON unfortunately is poorly written and treats the string literally rather than escaping.

I just thought there may be a way to override this, and if not maybe submit a feature request.

[2022-11-26 14:52] johnjaylward commented on #710
The consuming app should be fixed. It is wrong

[2022-11-26 14:56] richastral commented on #710
Agreed, there is **a lot** wrong with it. It is supposed to be an enterprise application, it is far from it. Unfortunately getting issues resolved is problematic.

All good I will close this issue as it is not related to the library, thanks for your help.

[2022-11-26 14:56] #710 closed

[2022-11-30 04:07] aditya-kumbhar commented on #709
That is fair.

[2022-11-30 04:07] #709 closed